Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - sed -i "s|agentj_version|$TAG|g" $CI_PROJECT_DIR/$IMG/.env.example
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

opendkim_build:
  stage: build
  variables:
    IMG: opendkim
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

policyd-rate-limit_build:
  stage: build
  variables:
    IMG: policyd-rate-limit
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

db/opendkim: create a separate read only user
  docker-compose.yml
  mariadb-entrypoint-initdb.d/opendkim_user.sh
  opendkim/entrypoint.sh
  opendkim/opendkim.conf
Due: opendkim_build

upgrade to agentj2: helper script
  scripts/get-dkim-sf-encryption-token-pre-agentj2.sh
  scripts/getqueue.sh
Due: none

take out msgs without rid
  app/src/Repository/MsgsRepository.php
Due: app_build

app: add phpstan
  .gitlab-ci.yml
  app/composer.json
  app/composer.lock
  app/phpstan-baseline.neon
  app/phpstan.neon
  app/src/Controller/LdapConnectorController.php
  app/src/DataFixtures/DomainFixture.php
  app/src/DataFixtures/GroupsFixture.php
  app/src/DataFixtures/UserFixture.php
  app/src/Entity/Traits/EntityBlameableTrait.php
  app/src/EventListener/SwitchUserSubscriber.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/WblistRepository.php
  app/src/Service/UploaderNamer.php
Due: app_build

made sure that the logo is not bigger that the div it's in for mobile
  app/templates/message/captcha.html.twig
Due: app_build

add mail preview
  CHANGELOG
Due: none

changed syntax, removed stuff from form for admin form
  app/src/Controller/UserController.php
Due: app_build

translation added but not working for Messenger
  app/src/MessageHandler/CreateAlertMessageHandler.php
  app/templates/bundles/TwigBundle/Exception/error.html.twig
  app/templates/home/index.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

db/opendkim: fix .env.example
  .env.example
Due: none

messenger now check for user pref language before sending alerts and mails
  app/src/MessageHandler/CreateAlertMessageHandler.php
Due: app_build

outsmtp: add a milter to check sender/ip authorization
  .gitignore
  compose.dev.yml
  compose.test.yml
  docker-compose.yml
  senderverifmilter/Dockerfile
  senderverifmilter/db.py
  senderverifmilter/handler.py
  senderverifmilter/main.py
  senderverifmilter/requirements.txt
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-authorized-senders-host.cf
  smtp/conf/out/postfix/mysql-virtual_recipient_maps.cf
  smtp/entrypoint.sh
Due: smtp_build

ci & tests: add senderverifmilter
  .gitlab-ci.yml
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  compose.dev.yml
Due: app_build

tests: add spams to test
  app/docker/tests/50spams50virusbyusers.sh
  app/docker/tests/gtube
  app/docker/tests/init.sh
  app/docker/tests/reset_db.sh
  app/docker/tests/testmail.sh
Due: app_build

added back domain, fixed bug on same login and name, select right role when editing
  app/src/Controller/UserController.php
  app/src/Entity/User.php
  app/templates/user/_form.html.twig
Due: app_build

WIP
  README.md
  app/docker/entrypoint.sh
  app/docker/tests/testmail.sh
  app/src/Command/ReportSendMailCommand.php
  app/src/DataFixtures/UserFixture.php
  smtp/conf/relay/postfix/main.cf
  smtp/entrypoint.sh
Due: app_build, smtp_build

multiple domain for admins, cant be blank, removed domain from user as its auto filled with mail
  app/src/Controller/UserController.php
  app/src/Form/UserType.php
  app/templates/user/_form.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

add page title
  app/templates/search/advanced_search.html.twig
Due: app_build

fix query
  app/src/Controller/UserController.php
  app/templates/user/_form.html.twig
Due: app_build

removed exception from phpstan that is now fixed
  app/phpstan-baseline.neon
Due: app_build

fixed calls to getDomain to include getDomains for admins with multiple domains now
  app/src/Repository/MsgsRepository.php
  app/src/Repository/UserRepository.php
Due: app_build

added alias import via csv for admin
  app/src/Controller/ImportController.php
  app/templates/import/index_alias.html.twig
  app/templates/user/indexAlias.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

doc: more in .env, less in README
  .env.example
  README.md
  app/README.md
  docker-compose.yml
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
