Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

add clamav vars to env file
  .env.example
Due: none

amavis: configure clamav server in entrypoint
  amavis/entrypoint.sh
Due: amavis_build

amavis: remove clamav scanner in conf file as it is populated by entrypoint
  amavis/conf/amavis/amavisd.conf
Due: amavis_build

amavis: add clamav autostart variable
  amavis/conf/supervisor/supervisord.conf
Due: amavis_build

env: use generic address and clamav default port
  .env.example
Due: none

relay: add slow transport
  relay/conf/postfix/main.cf
  relay/conf/postfix/master.cf
  relay/conf/postfix/slow_dest_domains_transport
Due: relay_build

check ldap connexion while editing
  app/assets/controllers/form-ldap-connector_controller.js
  app/assets/controllers/hello_controller.js
  app/src/Command/LDAPImportCommand.php
  app/src/Controller/LdapConnectorController.php
  app/src/Service/LdapService.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

check ldap user filters while editing
  app/assets/controllers/form-ldap-connector_controller.js
  app/src/Controller/LdapConnectorController.php
  app/src/Form/LdapConnectorType.php
  app/src/Service/LdapService.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.fr.yml
Due: app_build

improve layout form ldap connector
  app/src/Form/LdapConnectorType.php
  app/templates/connector/_form_ldap.html.twig
Due: app_build

possibility to user imap login different from email
  app/src/Form/UserType.php
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

check imap unicity for domain
  app/src/Controller/UserController.php
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

check imap login unicity when editing user
  app/src/Controller/UserController.php
Due: app_build

allow authentification with imap login
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

added php8-fileinfo in Dockerfile + webklex/php-imap
  app/Dockerfile
  app/composer.json
  app/composer.lock
  app/symfony.lock
Due: app_build

lint compose file
  docker-compose.yml
Due: none

amavis: discard virus mail by default
  amavis/conf/amavis/amavisd.conf
Due: amavis_build

use Wbeflex Librairy for authentication instead of native php imap
  app/migrations/Version20230116083821UpdateImapEcnryptionTypes.php
  app/src/Form/DomainType.php
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

fix twig vulnerabillity + composer update
  app/assets/controllers.json
  app/composer.json
  app/composer.lock
  app/package.json
  app/yarn.lock
Due: app_build

use domain imap config for ssl param
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

added menu for email with virus detected
  app/src/Controller/MenuController.php
  app/src/Controller/MessageController.php
  app/src/Entity/MessageStatus.php
  app/src/Repository/MsgsRepository.php
  app/templates/navigation.html.twig
  app/translations/messages.fr.yml
Due: app_build

hide action for mail with virus
  app/src/Controller/MessageController.php
  app/src/Security/OAuthAuthenticator.php
  app/templates/message/index.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

fix query to exclude mail with virus from untreated mails
  app/src/Repository/MsgsRepository.php
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
