Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

fix missing char
  app/docker/files/.env
Due: app_build

Resolve "Utiliser DKIM et SPF avant amavis sur le postfix (tickets GLPI clients + PROBESYS)"
  amavis/Dockerfile
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
  smtp/conf/postfix/master.cf
  smtp/conf/postifx-policyd-spf-python/policyd-spf.conf
  smtp/conf/supervisor/supervisord.conf
Due: amavis_build, smtp_build

Release 1.4.2
  .gitlab-ci.yml
  README.md
  amavis/Dockerfile
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
  smtp/conf/postfix/master.cf
  smtp/conf/postifx-policyd-spf-python/policyd-spf.conf
  smtp/conf/supervisor/supervisord.conf
Due: amavis_build, smtp_build

ci: update version handling
  .gitlab-ci.yml
  docker-compose.yml
Due: none

Release version 1.4.2
  .env.example
  .gitlab-ci.yml
  docker-compose.yml
Due: none

ci: remove tag management
  .gitlab-ci.yml
Due: none

syslogng: bump config version
  syslogng/conf/syslog-ng.conf
Due: syslogng_build

app: fix typo in messages
  app/translations/messages.fr.yml
Due: app_build

app: bump version to 1.4.2
  app/docker/files/.env
Due: app_build

app: increase memory limit
  app/docker/conf/php-fpm/www.conf
Due: app_build

compose: use correct startup policy for amavis
  docker-compose.yml
Due: none

app: set memory in php.ini
  app/docker/entrypoint.sh
Due: app_build

db: upgrade to mariadb 10.8.3
  docker-compose.yml
Due: none

remove watchtower
  docker-compose.yml
Due: none

Fix #220
  smtp/conf/postfix/main.cf
Due: smtp_build

smtp: improve postfix startup
  smtp/conf/supervisor/supervisord.conf
Due: smtp_build

relay: improve postfix startup
  relay/conf/supervisor/supervisord.conf
Due: relay_build

amavis: improve amavis autorestart policy
  amavis/Dockerfile
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  amavis/init.sh
  docker-compose.yml
  smtp/Dockerfile
Due: amavis_build, smtp_build

amavis: start in fg so that supervisor can manage it
  amavis/conf/supervisor/supervisord.conf
Due: amavis_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
