Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - sed -i "s|agentj_version|$TAG|g" $CI_PROJECT_DIR/$IMG/.env.example
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

opendkim_build:
  stage: build
  variables:
    IMG: opendkim
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

policyd-rate-limit_build:
  stage: build
  variables:
    IMG: policyd-rate-limit
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

feat(cli): Add command to display content of messages
  app/src/Command/MessageDisplayCommand.php
Due: app_build

docs: Add documentation about Bayes filtering
  docs/README.md
  docs/developers/bayes_filtering.md
Due: none

feat(app): Allow admins to mark messages as spam/ham
  app/src/Command/MessageMarkAsCommand.php
  app/src/Controller/MessageController.php
  app/src/Service/MessageService.php
  app/src/Service/SpamassassinService.php
  app/templates/message/index.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
  docs/developers/bayes_filtering.md
Due: app_build

release: Publish version 2.6.0
  .env.example
  CHANGELOG.md
Due: none

fix: clear cache before running sf command
  app/docker/entrypoint.sh
Due: app_build

fix: clear cache before running sf command (#435)
  app/docker/entrypoint.sh
Due: app_build

release: Publish version 2.6.1
  .env.example
  CHANGELOG.md
Due: none

fix: return email if user fullname is null
  app/src/Entity/User.php
Due: app_build

fix: show bottom of dropdown actions in messages
  app/templates/message/index.html.twig
Due: app_build

fix: Authorize senders by the envelope address
  app/src/Entity/BaseMessage.php
Due: app_build

fix: Allow getFullname() to return null
  app/src/Entity/User.php
Due: app_build

release: Publish version 2.5.4
  .env.example
  CHANGELOG.md
Due: none

release: Publish version 2.6.2
  .env.example
  CHANGELOG.md
Due: none

fix: update nginx configuration
  app/docker/conf/nginx/nginx.conf
  app/docker/entrypoint.sh
Due: app_build

chore: Tweak SpamAssassin scores
  amavis/conf/spamassassin/local.cf
Due: amavis_build

feat(app):connection toggle to manage LDAP auth
  app/migrations/Version20260521121414.php
  app/src/Entity/LdapConnector.php
  app/src/Form/LdapConnectorType.php
  app/src/Service/LdapService.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

fix: Consider original user when checking for "bypass human auth" option
  app/src/Command/AmavisAutoReleaseCommand.php
Due: app_build

Update app/docker/conf/nginx/nginx.conf
  app/docker/conf/nginx/nginx.conf
Due: app_build

Update app/docker/entrypoint.sh
  app/docker/entrypoint.sh
Due: app_build

fix: update nginx configuration (#447)
  app/docker/conf/nginx/nginx.conf
  app/docker/entrypoint.sh
Due: app_build

chore: Fix permissions on sa_learn docker volume
  app/docker/entrypoint.sh
Due: app_build

Use new agentj:messages:display command
  docs/administrators/howtos.md
Due: none

fix: add default values to user report and bypass_human_auth
  app/migrations/Version20260521141800.php
  app/src/Entity/User.php
Due: app_build

fix: add default values to user report and bypass_human_auth (#464)
  app/migrations/Version20260521141800.php
  app/src/Entity/User.php
Due: app_build

feat(app): add toggles to manage human auth bypass and report sending
  app/migrations/Version20260521124724.php
  app/src/Command/LDAPImportCommand.php
  app/src/Entity/LdapConnector.php
  app/src/Form/LdapConnectorType.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

release: Publish version 2.5.5
  .env.example
  CHANGELOG.md
Due: none

fix: Disable actions on the show virus message
  app/templates/message/content.html.twig
  app/templates/message/iframe_content.html.twig
Due: app_build

feat: Improve actions on messages
  app/src/Controller/MessageController.php
  app/templates/message/index.html.twig
Due: app_build

fix: Authorize senders by the From address
  app/src/Command/AmavisAutoReleaseCommand.php
  app/src/Controller/HumanAuthenticationsController.php
  app/src/Controller/MessageController.php
  app/src/Entity/BaseMessage.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/WblistRepository.php
  app/src/Service/MessageService.php
Due: app_build

fix: Don't autorize spam when authorizing a sender
  app/src/Service/MessageService.php
Due: app_build

chore: Allow empty senders in senderverifmilter
  senderverifmilter/handler.py
Due: none

release: Publish version 2.6.3
  .env.example
  CHANGELOG.md
Due: none

fix: add missing indexes on messenger_messages table
  app/migrations/Version20260526130125.php
Due: app_build

feat: notification on user settings updated
  app/src/Controller/AccountController.php
  app/translations/messages+intl-icu.en.yaml
  app/translations/messages+intl-icu.fr.yaml
Due: app_build

fix: modify favicon to use AgentJ logo
  app/assets/img/favicon.ico
  app/public/favicon.ico
  app/public/img/favicon.ico
  app/templates/base.html.twig
  app/templates/base.new.html.twig
  app/templates/base_security.html.twig
Due: app_build

fix: change icon in web app manifest
  app/public/site.webmanifest
Due: app_build

chore: fix deprecations to comply with PHPStan
  app/composer.json
  app/composer.lock
  app/src/Command/LDAPImportCommand.php
  app/src/Command/Office365ImportCommand.php
  app/src/Controller/LdapConnectorController.php
  app/src/Controller/Office365ConnectorController.php
  app/src/MessageHandler/CleanDataHandler.php
  app/src/MessageHandler/SynchronizeConnectorsHandler.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/WblistRepository.php
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
