Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

dkim: split config from domain config
  .gitlab-ci.yml
  app/Dockerfile
  app/docker/conf/opendkim/opendkim.conf
  app/docker/conf/sudo/opendkim
  app/docker/entrypoint.sh
  app/docker/files/deldomainkey.sh
  app/docker/files/gendomainkey.sh
  docker-compose.yml
Due: app_build

dkim: fix sudoers file perms
  app/docker/entrypoint.sh
Due: app_build

advanced on office365 users synchro
  app/migrations/Version20220712130419.php
  app/migrations/Version20220712141256.php
  app/migrations/Version20220712141419.php
  app/migrations/Version20220712151836.php
  app/migrations/Version20220712153212.php
  app/migrations/Version20220712153406.php
  app/migrations/Version20220712153615.php
  app/migrations/Version20220816130935.php
  app/migrations/Version20220816140425.php
  app/migrations/Version20220816141211.php
  app/src/Command/AgentjTestOfficeCommand.php
  app/src/Command/Office365ImportCommand.php
  app/src/Controller/AzureController.php
  app/src/Controller/ConnectorController.php
  app/src/Controller/Office365ConnectorController.php
  app/src/Entity/Connector.php
  app/src/Entity/Office365Connector.php
  app/src/Form/ConnectorType.php
  app/src/Form/Office365ConnectorType.php
  app/src/Security/OAuthAuthenticator.php
  app/templates/connector/edit.html.twig
  app/templates/connector/new.html.twig
  app/templates/domain/_form.html.twig
  app/templates/domain/index.html.twig
Due: app_build

Added features: - Create/edit/delete Office365/AzurAD connectors - Import users with microsoft graph APi
  app/config/packages/knpu_oauth2_client.yaml
Due: app_build

added jquery node module
  app/assets/js/app.js
  app/package.json
  app/src/Command/Office365ImportCommand.php
  app/src/Controller/ConnectorController.php
  app/src/Controller/Office365ConnectorController.php
  app/src/Model/ConnectorTypes.php
  app/src/Security/OAuthAuthenticator.php
  app/templates/domain/_form.html.twig
  app/templates/domain/index.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
  app/yarn.lock
Due: app_build

squashes migrations
  app/migrations/Version20220623133120.php
  app/migrations/Version20220623151929.php
  app/migrations/Version20220623155558.php
  app/migrations/Version20220711082917.php
  app/migrations/Version20220711083738.php
  app/migrations/Version20220711084121.php
  app/migrations/Version20220712130419.php
  app/migrations/Version20220712141256.php
  app/migrations/Version20220712141419.php
  app/migrations/Version20220712151836.php
  app/migrations/Version20220712153212.php
  app/migrations/Version20220712153406.php
  app/migrations/Version20220712153615.php
  app/migrations/Version20220816130935.php
  app/migrations/Version20220816140425.php
  app/migrations/Version20220816141211.php
  app/src/Controller/SecurityController.php
  app/src/Entity/Domain.php
Due: app_build

avoid oAuth on non active domains + optionnaly show azur connect link
  .env.example
  app/config/packages/twig.yaml
  app/docker/entrypoint.sh
  app/docker/files/.env
  app/src/Command/Office365ImportCommand.php
  app/src/Repository/UserRepository.php
  app/src/Security/OAuthAuthenticator.php
  app/templates/security/login.html.twig
Due: app_build

added migration last file
  app/migrations/Version20220817140217.php
Due: app_build

fixes #226
  app/src/Controller/MessageController.php
Due: app_build

Prepare 1.4.3
  app/docker/files/.env
Due: app_build

Prepare 1.4.3 #227
  .env.example
Due: none

CI: update version in preprod `.env` with tag version
  .gitlab-ci.yml
Due: none

import office 365 grooups; share the mailbox of the group with wonser in agentj
  app/src/Command/Office365ImportCommand.php
Due: app_build

Release 1.4.3. Fix #227
  app/docker/files/.env
Due: app_build

Release 1.4.3
  .env.example
Due: none

Release 1.4.3
  .env.example
  .gitlab-ci.yml
  amavis/Dockerfile
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  amavis/init.sh
  app/Dockerfile
  app/docker/conf/opendkim/opendkim.conf
  app/docker/conf/php-fpm/www.conf
  app/docker/conf/sudo/opendkim
  app/docker/entrypoint.sh
  app/docker/files/.env
  app/docker/files/deldomainkey.sh
  app/docker/files/gendomainkey.sh
  app/src/Controller/MessageController.php
  app/translations/messages.fr.yml
  docker-compose.yml
  relay/conf/supervisor/supervisord.conf
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
  smtp/conf/supervisor/supervisord.conf
  syslogng/conf/syslog-ng.conf
Due: app_build, amavis_build, relay_build, smtp_build, syslogng_build

env: add listening add vars
  .env.example
Due: none

update readme
  README.md
Due: none

compose: add listening addr and port vars for stmp
  docker-compose.yml
Due: none

relay: remove trailing spaces
  relay/conf/postfix/main.cf
Due: relay_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
