Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*

app: version 1.2.3
  app/docker/files/.env
Due: app_build

purge obsolete and unused infra dir
  infra/deploy.sh
  infra/docker-compose.yml
Due: none

update CHANGELOG
  CHANGELOG
Due: none

ci: add manual rebuild task
  .gitlab-ci.yml
Due: none

ci: fix typo
  .gitlab-ci.yml
Due: none

postfix: make healthcheck less verbose
  relay/Dockerfile
  smtp/Dockerfile
Due: relay_build, smtp_build

smtp: enable soft bounce to keep mail in deferred status
  smtp/conf/postfix/main.cf
Due: smtp_build

add tzdata pkg
  app/Dockerfile
  relay/Dockerfile
  smtp/Dockerfile
  syslogng/Dockerfile
Due: app_build, relay_build, smtp_build, syslogng_build

amavis: add volumes and init script
  amavis/Dockerfile
  amavis/entrypoint.sh
  amavis/init.sh
  docker-compose.yml
Due: amavis_build

change Agent-j to AgentJ
  app/README.md
  app/composer.phar
  app/migrations/Version20211221152434.php
  app/symfony.lock
  app/templates/base.html.twig
  app/translations/messages.fr.yml
Due: app_build

fixes #85 statistics on user homepage
  app/src/Security/LoginFormAuthenticator.php
  app/templates/home/index.html.twig
Due: app_build

fixes #105 add dropdown for domain imap port
  app/src/Form/DomainType.php
  app/src/Model/ImapPorts.php
  app/src/Util/Enum.php
Due: app_build

fixes #105 add dropdown for domain imap port
  .env
  app/src/Form/DomainType.php
  app/src/Model/ImapPorts.php
  app/src/Util/Enum.php
Due: app_build

logs: improve logspout filter - add compose project name
  .env
  docker-compose.yml
Due: none

logs: improve logspout filter - add compose project name
  docker-compose.yml
Due: none

app: add opendkim in app container
  app/Dockerfile
  app/docker/conf/opendkim/KeyTable
  app/docker/conf/opendkim/SigningTable
  app/docker/conf/opendkim/TrustedHosts
  app/docker/conf/opendkim/opendkim.conf
  app/docker/conf/supervisord.conf
  app/docker/entrypoint.sh
Due: app_build

relay: move opendkim for relay container
  relay/Dockerfile
  relay/conf/opendkim/KeyTable
  relay/conf/opendkim/SigningTable
  relay/conf/opendkim/TrustedHosts
  relay/conf/opendkim/opendkim.conf
  relay/entrypoint.sh
Due: relay_build

opendkim: add key gen script
  app/docker/conf/opendkim/gendomainkey.sh
Due: app_build

adapt opendkim config in relay and smtp postfix
  relay/conf/postfix/main.cf
  smtp/conf/postfix/main.cf
Due: relay_build, smtp_build

remove opendkim service from relay supervisor conf
  relay/conf/supervisor/supervisord.conf
Due: relay_build

clamav: reduce opened files during scanning
  amavis/conf/clamav/clamd.conf
Due: amavis_build
