Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*

chore: fix and add translations in multiple views
  app/public/js/translations/messages/fr.js
  app/public/js/translations/messages/fr.json
  app/src/Controller/GroupsController.php
  app/src/Controller/UserController.php
  app/src/Controller/WblistController.php
  app/src/Form/GroupsType.php
  app/src/Form/PolicyType.php
  app/src/Form/UserAutocompleteField.php
  app/src/Form/UserType.php
  app/templates/account/index.html.twig
  app/templates/alert/index.html.twig
  app/templates/connector/_delete_form.html.twig
  app/templates/connector/index.html.twig
  app/templates/connector/show.html.twig
  app/templates/domain/_delete_form.html.twig
  app/templates/domain/_formMessage.html.twig
  app/templates/domain/index.html.twig
  app/templates/domain/show.html.twig
  app/templates/domain/wblist.html.twig
  app/templates/groups/_delete_form.html.twig
  app/templates/groups/group_users.html.twig
  app/templates/groups/index.html.twig
  app/templates/groups_wblist/_delete_form.html.twig
  app/templates/home/_alerts.html.twig
  app/templates/home/index.html.twig
  app/templates/message/out_show.html.twig
  app/templates/policy/_delete_form.html.twig
  app/templates/register.html.twig
  app/templates/report/table_mail_msgs.html.twig
  app/templates/search/advanced_search.html.twig
  app/templates/user/_delete_form.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

fix: optimized advanced search and secure search from injection (#141)
  app/src/Repository/MsgsRepository.php
Due: app_build

fix: correction for visual issues in homepage modals (#135)
  app/templates/home/_alerts.html.twig
  app/templates/home/_latest_messages.html.twig
  app/templates/home/_stats_table.html.twig
  app/templates/home/index.html.twig
Due: app_build

WIP ensure sender/domain match
  .gitignore
  README.md
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  compose.dev.yml
  compose.test.yml
  docker-compose.yml
  senderverifmilter/Dockerfile
  senderverifmilter/db.py
  senderverifmilter/handler.py
  senderverifmilter/main.py
  senderverifmilter/requirements.txt
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-authorized-senders-host.cf
  smtp/conf/out/postfix/mysql-virtual_recipient_maps.cf
  smtp/entrypoint.sh
Due: app_build, smtp_build

outsmtp: no more sql lookup
  README.md
  app/docker/tests/testmail.sh
  smtp/conf/out/postfix/main.cf
Due: app_build, smtp_build

credits
  senderverifmilter/readme.md
Due: none

remove logspout & some syslog daemons
  README.md
  amavis/Dockerfile
  amavis/conf/supervisor/supervisord.conf
  app/Dockerfile
  app/Dockerfile.dev
  app/config/packages/prod/monolog.yaml
  app/docker/conf/supervisor/supervisord.conf
  compose.test.yml
  docker-compose.yml
  syslogng/Dockerfile
  syslogng/conf/cron/syslogng-rotate
  syslogng/conf/syslog-ng.conf
  syslogng/entrypoint.sh
Due: app_build, amavis_build, syslogng_build

Ensure sender/domain match (#108)
  .gitignore
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  compose.dev.yml
  compose.test.yml
  docker-compose.yml
  senderverifmilter/Dockerfile
  senderverifmilter/db.py
  senderverifmilter/handler.py
  senderverifmilter/main.py
  senderverifmilter/readme.md
  senderverifmilter/requirements.txt
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-authorized-senders-host.cf
  smtp/conf/out/postfix/mysql-virtual_recipient_maps.cf
  smtp/entrypoint.sh
Due: app_build, smtp_build

remove logspout & some syslog daemons (#119)
  README.md
  amavis/Dockerfile
  amavis/conf/supervisor/supervisord.conf
  app/Dockerfile
  app/Dockerfile.dev
  app/config/packages/prod/monolog.yaml
  app/docker/conf/supervisor/supervisord.conf
  compose.test.yml
  docker-compose.yml
  syslogng/Dockerfile
  syslogng/conf/cron/syslogng-rotate
  syslogng/conf/syslog-ng.conf
  syslogng/entrypoint.sh
Due: app_build, amavis_build, syslogng_build

ci: fix build attestation
  .github/workflows/images.yml
Due: none

ci: attest + tag
  .github/workflows/images.yml
Due: none

ci: build and push docker images
  .github/workflows/images.yml
Due: none

ci: image tag
  .github/workflows/images.yml
Due: none

ci: fix env var
  .github/workflows/images.yml
Due: none

ci: wip
  .github/workflows/images.yml
Due: none

ci: tags
  .github/workflows/build_images.yml
Due: none

ci: image tags
  .github/workflows/build_images.yml
  .github/workflows/tests.yml
Due: none

ci: build only on main
  .github/workflows/images.yml
Due: none

limit to main branch
  .github/workflows/build_images.yml
Due: none

Build on tags, not on releases
  .github/workflows/build_images.yml
Due: none

ci: build and push docker images (#87)
  .github/workflows/build_images.yml
  .github/workflows/tests.yml
Due: none

fix: ci: syslogng was removed from project
  .github/workflows/build_images.yml
Due: none

ci: add senderverifmilter
  .github/workflows/build_images.yml
Due: none

documentation: old upgrade doc
  CHANGELOG
  CHANGELOG.md
  README.md
  docs/readme.md
Due: none

documentation: in docs/ folder
  README.md
  docker-compose.yml
  docs/readme.md
Due: none

documentation:
  README.md
  docs/readme.md
Due: none

wip documentation
  CHANGELOG.md
  docs/auth_azure.md
  docs/readme.md
Due: none

wip documentation
  CHANGELOG.md
  docs/auth_azure.md
Due: none

doc: rephrase
  README.md
  docs/readme.md
Due: none

Fix from review: title + titles levels
  CHANGELOG.md
Due: none

Apply suggestions from code review
  README.md
  docs/auth_azure.md
  docs/readme.md
Due: none
