Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*

redirect app logs to php://stderr
  app/config/packages/prod/monolog.yaml
  app/docker/conf/php-fpm/www.conf
Due: app_build

log login errors
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

first step for outgoing mail
  docker-compose.yml
  outamavis/Dockerfile
  outamavis/amavisd.patch
  outamavis/conf/amavis/amavisd.conf
  outamavis/conf/clamav/clamd.conf
  outamavis/conf/cron/agentj-amavis
  outamavis/conf/supervisor/supervisord.conf
  outamavis/entrypoint.sh
  outamavis/healthcheck.sh
  outsmtp/Dockerfile
  outsmtp/conf/postfix/main.cf
  outsmtp/conf/postfix/master.cf
  outsmtp/conf/postfix/mysql-virtual_domains.cf
  outsmtp/conf/postfix/mysql-virtual_recipient_maps.cf
  outsmtp/conf/supervisor/supervisord.conf
  outsmtp/entrypoint.sh
Due: none

release 1.5.2
  .env.example
Due: none

change version in app/docker/files/.env
  app/docker/files/.env
Due: app_build

fix multiple request for same sender and user the same day
  app/src/Repository/MsgsRepository.php
Due: app_build

release 1.5.3
  .env.example
  app/docker/files/.env
Due: app_build

release 1.5.3
  app/src/Repository/MsgsRepository.php
Due: app_build

fixe sql query
  app/src/Repository/MsgsRepository.php
Due: app_build

composer update
  app/composer.lock
Due: app_build

marche simple
  outamavis/conf/amavis/amavisd.conf
  outamavis/entrypoint.sh
Due: none

conf en cours pas fini
  amavisd
  amavisd.conf
Due: none

use syslog (via logger) for app cron
  app/docker/conf/cron/agentj
Due: app_build

amavis: use variable in amavisd.conf for av config
  amavis/conf/amavis/amavisd.conf
Due: amavis_build

amavis: better av configuration using variable in sed
  amavis/entrypoint.sh
Due: amavis_build

update README
  README.md
Due: none

Everything to work ok the amavisd patch has been update to work ok
  amavis/amavisd.patch
  amavisd
  amavisd.conf
  outamavis/amavisd.patch
  outamavis/conf/amavis/amavisd.conf
  outamavis/entrypoint.sh
Due: amavis_build

workflow: run only for main
  .github/workflows/main.yml
Due: none

fix import office365 users if previously manually created
  app/src/Command/Office365ImportCommand.php
Due: app_build

update gitlab_ci.yml
  .gitlab-ci.yml
Due: none

release 1.5.4
  .env.example
  app/docker/files/.env
Due: app_build

improve ldap import groups
  app/src/Command/LDAPImportCommand.php
  app/src/Controller/LdapConnectorController.php
Due: app_build

added ldapGroupNameField field in LdapConnector entity for groups synchro
  app/migrations/Version20230301130225.php
  app/src/Entity/LdapConnector.php
Due: app_build

ldpa group synchro is optionnal
  app/assets/controllers/form-ldap-connector_controller.js
  app/migrations/Version20230301130225.php
  app/migrations/Version20230301132150.php
  app/src/Command/LDAPImportCommand.php
  app/src/Entity/LdapConnector.php
  app/src/Form/LdapConnectorType.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

improve ldap connector forms
  app/assets/controllers/form-ldap-connector_controller.js
  app/src/Form/LdapConnectorType.php
  app/templates/connector/_form_ldap.html.twig
  app/templates/connector/edit_ldap.html.twig
  app/templates/connector/new_ldap.html.twig
  app/templates/modalTemplate.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

remove unused ldapGroupField attribute from LdapConnector Entity
  app/migrations/Version20230302085930.php
  app/src/Entity/LdapConnector.php
  app/src/Form/LdapConnectorType.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

import alias when synchronize from ldap
  app/src/Command/LDAPImportCommand.php
Due: app_build
