Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

.gitlab-ci.yml:

---

# -*- coding: utf-8 -*-
image: docker:latest

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"

services:
  - docker:dind

stages:
  - build

################################################################################
## BUILD AND PUSH
################################################################################
# Images build are pushed on hub.probesys.com

app_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/app && docker build -t hub.probesys.com/agentj_app .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_app:latest
  only:
    refs:
      - dev
    changes:
      - app/*
      - app/**/*

amavis_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/amavis && docker build -t hub.probesys.com/agentj_amavis .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_amavis:latest
  only:
    refs:
      - dev
    changes:
      - amavis/*
      - amavis/**/*

relay_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/relay && docker build -t hub.probesys.com/agentj_relay .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_relay:latest
  only:
    refs:
      - dev
    changes:
      - relay/*
      - relay/**/*

smtp_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/smtp && docker build -t hub.probesys.com/agentj_smtp .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_smtp:latest
  only:
    refs:
      - dev
    changes:
      - smtp/*
      - smtp/**/*

syslogng_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/syslogng && docker build -t hub.probesys.com/agentj_syslogng .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_syslogng:latest
  only:
    refs:
      - dev
    changes:
      - syslogng/*
      - syslogng/**/*

web_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/web && docker build -t hub.probesys.com/agentj_web .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_web:latest
  only:
    refs:
      - dev
    changes:
      - web/*
      - web/**/*

ci: build only when merged on master branch
  .gitlab-ci.yml
Due: none

relay: add opendkim conf
  relay/conf/postfix/main.cf
Due: relay_build

opendkim: create container
  opendkim/Dockerfile
  opendkim/entrypoint.sh
Due: none

opendkim: add config
  opendkim/conf/opendkim/KeyTable
  opendkim/conf/opendkim/SigningTable
  opendkim/conf/opendkim/TrustedHosts
  opendkim/conf/opendkim/opendkim.conf
Due: none

opendkim: add supervisor config
  opendkim/conf/supervisor/supervisord.conf
Due: none

compose: add opendkim service
  docker-compose.yml
Due: none

ci: add instructions to build opendkim container
  .gitlab-ci.yml
Due: none

relay: do not use variable in milter conf
  relay/conf/postfix/main.cf
Due: relay_build

opendkim: use vars in conf files
  opendkim/Dockerfile
  opendkim/conf/opendkim/KeyTable
  opendkim/conf/opendkim/SigningTable
  opendkim/conf/opendkim/TrustedHosts
  opendkim/conf/opendkim/opendkim.conf
  opendkim/entrypoint.sh
Due: none

app: use dev branch in Dockerfile
  app/Dockerfile
  docker-compose.yml
Due: app_build

compose: remove opendkim container
  docker-compose.yml
Due: none

env: add spam level vars
  app/Dockerfile
  app/files/.env
Due: app_build

delete opendkim container config
  opendkim/Dockerfile
  opendkim/conf/opendkim/KeyTable
  opendkim/conf/opendkim/SigningTable
  opendkim/conf/opendkim/TrustedHosts
  opendkim/conf/opendkim/opendkim.conf
  opendkim/conf/supervisor/supervisord.conf
  opendkim/entrypoint.sh
Due: none

relay: include opendkim service
  relay/Dockerfile
  relay/conf/opendkim/KeyTable
  relay/conf/opendkim/SigningTable
  relay/conf/opendkim/TrustedHosts
  relay/conf/opendkim/opendkim.conf
  relay/conf/postfix/main.cf
  relay/conf/supervisor/supervisord.conf
  relay/entrypoint.sh
Due: relay_build

prepare GH integration
  .gitlab-ci.yml
  CHANGELOG
  app/Dockerfile
  app/files/.env
  docker-compose.yml
  relay/Dockerfile
  relay/conf/opendkim/KeyTable
  relay/conf/opendkim/SigningTable
  relay/conf/opendkim/TrustedHosts
  relay/conf/opendkim/opendkim.conf
  relay/conf/postfix/main.cf
  relay/conf/supervisor/supervisord.conf
  relay/entrypoint.sh
Due: app_build, relay_build

prepare GH integration
  .gitlab-ci.yml
Due: none

app: generate app_secret
  app/entrypoint.sh
  app/files/.env
Due: app_build

Local GitHub (#1)
  CHANGELOG
  app/Dockerfile
  app/entrypoint.sh
  app/files/.env
  docker-compose.yml
  relay/Dockerfile
  relay/conf/opendkim/KeyTable
  relay/conf/opendkim/SigningTable
  relay/conf/opendkim/TrustedHosts
  relay/conf/opendkim/opendkim.conf
  relay/conf/postfix/main.cf
  relay/conf/supervisor/supervisord.conf
  relay/entrypoint.sh
Due: app_build, relay_build

app: generate APP_SECRET
  app/entrypoint.sh
  app/files/.env
Due: app_build

amavis: change volume
  amavis/Dockerfile
  docker-compose.yml
Due: amavis_build

smtp: add postqueue volume
  smtp/Dockerfile
Due: smtp_build

app: add captcha mail sender var
  app/entrypoint.sh
  app/files/.env
Due: app_build

amavis: add policy SQL request
  amavis/conf/amavis/50-user
Due: amavis_build

fix app repo url
  app/Dockerfile
Due: app_build

clean
  .gitlab-ci.yml
Due: none

app: remove duplicate in env file
  app/files/.env
Due: app_build

use docker hub repo
  docker-compose.yml
Due: none

initial commit toward 1.0.0 tag
  .env
  CHANGELOG
  LICENSE
  README.md
  amavis/Dockerfile
  amavis/conf/amavis/50-user
  amavis/conf/clamav/clamd.conf
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  amavis/healthcheck.sh
  app/Dockerfile
  app/conf/supervisord.conf
  app/conf/www.conf
  app/db_init.sh
  app/entrypoint.sh
  app/files/.env
  app/files/amavisd-release
  docker-compose.yml
  relay/Dockerfile
  relay/conf/opendkim/KeyTable
  relay/conf/opendkim/SigningTable
  relay/conf/opendkim/TrustedHosts
  relay/conf/opendkim/opendkim.conf
  relay/conf/postfix/main.cf
  relay/conf/postfix/master.cf
  relay/conf/supervisor/supervisord.conf
  relay/entrypoint.sh
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
  smtp/conf/postfix/master.cf
  smtp/conf/postfix/mysql-transport_map.cf
  smtp/conf/postfix/mysql-virtual_domains.cf
  smtp/conf/postfix/mysql-virtual_recipient_maps.cf
  smtp/conf/supervisor/supervisord.conf
  smtp/entrypoint.sh
  syslogng/Dockerfile
  syslogng/conf/syslog-ng.conf
  web/Dockerfile
  web/conf/nginx.conf
Due: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

amavis: deal with two from header
  amavis/conf/amavis/50-user
Due: amavis_build

app: improve db init script
  app/db_init.sh
Due: app_build

bump to version 1.0.0
  app/files/.env
Due: app_build

bump to version 1.0.2
  amavis/conf/amavis/50-user
  app/db_init.sh
  app/files/.env
Due: app_build, amavis_build

smtp: add volume to allow custom postfix conf
  docker-compose.yml
Due: none

fix import script in app
  app/files/.env
Due: app_build

change docker hub repo base
  docker-compose.yml
Due: none

amavis: lower levels to fix multi senders
  amavis/conf/amavis/50-user
Due: amavis_build

app: fix typo in cron tasks
  app/entrypoint.sh
Due: app_build

app: bump version
  app/files/.env
Due: app_build

postfix: use native resolution instead of via MX lookup
  relay/conf/postfix/main.cf
  smtp/conf/postfix/main.cf
Due: relay_build, smtp_build

Initial commit
  .gitlab-ci.yml
  CHANGELOG
  LICENSE
  README.md
  amavis/Dockerfile
  amavis/conf/amavis/50-user
  amavis/conf/clamav/clamd.conf
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  amavis/healthcheck.sh
  app/Dockerfile
  app/conf/supervisord.conf
  app/conf/www.conf
  app/db_init.sh
  app/entrypoint.sh
  app/files/.env
  app/files/amavisd-release
  docker-compose.yml
  relay/Dockerfile
  relay/conf/opendkim/KeyTable
  relay/conf/opendkim/SigningTable
  relay/conf/opendkim/TrustedHosts
  relay/conf/opendkim/opendkim.conf
  relay/conf/postfix/main.cf
  relay/conf/postfix/master.cf
  relay/conf/supervisor/supervisord.conf
  relay/entrypoint.sh
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
  smtp/conf/postfix/master.cf
  smtp/conf/postfix/mysql-transport_map.cf
  smtp/conf/postfix/mysql-virtual_domains.cf
  smtp/conf/postfix/mysql-virtual_recipient_maps.cf
  smtp/conf/supervisor/supervisord.conf
  smtp/entrypoint.sh
  syslogng/Dockerfile
  syslogng/conf/syslog-ng.conf
  web/Dockerfile
  web/conf/nginx.conf
Due: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build
