Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

update entry point for php8
  app/docker/conf/supervisord.conf
  app/docker/entrypoint.sh
  app/src/Entity/Policy.php
Due: app_build

fix php-fpm conf path and perl-db in image amavis
  amavis/Dockerfile
  app/Dockerfile
  app/docker/conf/www.conf
Due: app_build, amavis_build

amavis: fix alpine version to get perl-db
  amavis/Dockerfile
Due: amavis_build

Remove boostrap from sass loader
  app/assets/app.js
  app/assets/css/styles.css
  app/assets/css/styles.css.map
  app/assets/styles/css/agentj.css
  app/assets/styles/css/app.css
  app/assets/styles/css/jquery-ui.css
  app/assets/styles/css/jquery.mCustomScrollbar.css
  app/src/Entity/Policy.php
Due: app_build

merge branch php8 + fix css calls
  app/assets/styles/css/app.css
Due: app_build

addes missing css files
  app/assets/styles/css/styles.css
  app/assets/styles/css/styles.css.map
Due: app_build

web: remove nginx container
  web/Dockerfile
  web/conf/nginx.conf
Due: web_build

Release 1.3.2.
  app/docker/files/.env
Due: app_build

[docker-compose] Utiliser les images de la version d'AgentJ
  docker-compose.yml
Due: none

app: integrate nginx in app container
  app/Dockerfile
  app/docker/conf/nginx/nginx.conf
Due: app_build

app: mv config files in specific directories
  app/Dockerfile
  app/docker/conf/nginx/nginx.conf
  app/docker/conf/php-fpm/www.conf
  app/docker/conf/supervisor/supervisord.conf
Due: app_build

ci: remove web build
  .gitlab-ci.yml
Due: none

app: use fpm socket
  app/docker/conf/nginx/nginx.conf
  app/docker/conf/php-fpm/www.conf
Due: app_build

remove web image and public volume
  docker-compose.yml
Due: none

remove redis, symphony cache is sufficient
  docker-compose.yml
Due: none

app: add purge cron system wide
  app/docker/conf/cron/agentj
Due: app_build

continue composer.lock merge
  app/composer.lock
Due: app_build

Merge branch 'bugfix-128-all_domains_dkim' into 140-dkim
  app/Dockerfile
  app/docker/entrypoint.sh
  app/docker/files/.env
  app/src/Controller/DomainController.php
  docker-compose.yml
Due: app_build

app: add missing rsyslog
  app/Dockerfile
Due: app_build

app: add missing opendkim-utils
  app/Dockerfile
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
