Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*

doc: more in .env, less in README
  .env.example
  README.md
  app/README.md
  docker-compose.yml
Due: app_build

Update messages.en.yml -> semicolon
  app/translations/messages.en.yml
Due: app_build

remove role admin from autocomplete
  app/src/Repository/UserRepository.php
Due: app_build

fix mistakes from conflict
  app/templates/user/_form.html.twig
Due: app_build

added security for existing user and warned about existing account
  app/src/Controller/ImportController.php
  app/templates/import/index.html.twig
  app/templates/import/index_alias.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

forgot to change already_exist to array in user import
  app/src/Controller/ImportController.php
Due: app_build

Use only one domain for all containers
  .env.example
  amavis/conf/amavis/amavisd.conf
  amavis/conf/amavis/amavisd_out.conf
  amavis/entrypoint.sh
  app/.env.example
  app/docker/entrypoint.sh
  docker-compose.yml
  opendkim/TrustedHosts
  opendkim/entrypoint.sh
  smtp/conf/in/postfix/main.cf
  smtp/conf/out/postfix/main.cf
  smtp/conf/relay/postfix/main.cf
  smtp/entrypoint.sh
Due: app_build, amavis_build, smtp_build, opendkim_build

wip
  amavis/conf/amavis/amavisd.conf
  app/docker/entrypoint.sh
  smtp/entrypoint.sh
Due: app_build, amavis_build, smtp_build

fix mistake after conflict
  app/templates/user/_form.html.twig
Due: app_build

fix merge: laissepasser only authorize app container
  README.md
  app/docker/tests/testmail.sh
Due: app_build

doc
  .env.example
  amavis/conf/amavis/amavisd_out.conf
Due: amavis_build

Secure migration Version20240327151737
  app/migrations/Version20240327151737.php
Due: app_build

update Roadmap
  README.md
  ROADMAP.md
Due: none

Update README.md
  README.md
Due: none

Update main.yml
  .github/workflows/main.yml
Due: none

Update CHANGELOG
  CHANGELOG
Due: none

WIP ensure sender/domain match
  .gitignore
  README.md
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  compose.dev.yml
  compose.test.yml
  docker-compose.yml
  senderverifmilter/Dockerfile
  senderverifmilter/db.py
  senderverifmilter/handler.py
  senderverifmilter/main.py
  senderverifmilter/requirements.txt
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-authorized-senders-host.cf
  smtp/conf/out/postfix/mysql-virtual_recipient_maps.cf
  smtp/entrypoint.sh
Due: app_build, smtp_build

ci: build and push docker images
  .github/workflows/images.yml
Due: none

ci: use docker.io containers
  policyd-rate-limit/Dockerfile
Due: policyd-rate-limit_build

ci: fix build attestation
  .github/workflows/images.yml
Due: none

ci: attest + tag
  .github/workflows/images.yml
Due: none

ci: fix env var
  .github/workflows/images.yml
Due: none

ci: image tag
  .github/workflows/images.yml
Due: none
