Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*

fixes #164 #161 #159 #158
  app/composer.json
  app/composer.lock
  app/config/packages/paginator.yaml
  app/templates/header.html.twig
  app/templates/home/index.html.twig
  app/templates/security/login.html.twig
  app/templates/user/indexEmail.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

enhance report
  app/templates/report/table_mail_msgs.html.twig
Due: app_build

Mettre à jour app/translations/messages.en.yml
  app/translations/messages.en.yml
Due: app_build

Prepare release 1.3.1.
  app/docker/files/.env
Due: app_build

ci: fix prod registry
  .gitlab-ci.yml
Due: none

dkim: add script to delete keys and config when domain is removed
  app/docker/conf/opendkim/deldomainkey.sh
  app/docker/conf/opendkim/gendomainkey.sh
Due: app_build

app: reorder files
  app/Dockerfile
  app/docker/conf/php-fpm/www.conf
  app/docker/conf/sudo/opendkim
  app/docker/conf/supervisor/supervisord.conf
  app/docker/entrypoint.sh
  app/docker/files/deldomainkey.sh
  app/docker/files/gendomainkey.sh
Due: app_build

fix missing tzdata package in app
  app/Dockerfile
  docker-compose.yml
Due: app_build

delte dkim keys when removing a domain
  app/composer.lock
  app/config/services.yaml
  app/src/Controller/DomainController.php
Due: app_build

add key DKIM_REMOVAL in docker/files/.env
  app/docker/files/.env
Due: app_build

Update .env to fix #167
  .env
Due: none

Update .env: useful name.
  .env
Due: none

dkim: no need to setup with env domain
  app/Dockerfile
  app/docker/conf/opendkim/KeyTable
  app/docker/conf/opendkim/SigningTable
  app/docker/conf/sudo/opendkim
  app/docker/entrypoint.sh
  app/docker/files/deldomainkey.sh
Due: app_build

Translated using Weblate (English)
  app/translations/messages.en.yml
Due: app_build

Translated using Weblate (French)
  app/public/js/translations/datatable.fr.json
Due: app_build

Translated using Weblate (French)
  app/translations/messages.fr.yml
Due: app_build

amavis: fix possible duplicate $myhostname settings
  amavis/conf/amavis/amavisd.conf
  amavis/entrypoint.sh
Due: amavis_build
