Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*

fix: handle admin users where email is null
  app/src/Controller/DefaultController.php
  app/src/Controller/UserController.php
  app/src/Form/UserType.php
  app/src/Repository/UserRepository.php
  app/templates/user/indexLocal.html.twig
Due: app_build

fix: added domain scope for local admin in advanced search
  app/src/Repository/MsgsRepository.php
Due: app_build

release: Publish version 2.1.0
  .env.example
  CHANGELOG.md
Due: none

Documentation is now on Github
  .env.example
Due: none

Documentation is now on Github (#156)
  .env.example
Due: none

Don't lookup mx from outsmtp for configured domains
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-transport_map.cf
  smtp/entrypoint.sh
Due: smtp_build

update mariadb to lts
  docker-compose.yml
Due: none

chore(app): Remove the useless service worker
  app/public/js/agentj.js
  app/public/serviceworker.js
Due: app_build

chore(composer): Update the dependencies
  app/composer.lock
Due: app_build

chore(yarn): Update the dependencies
  app/yarn.lock
Due: app_build

chore(yarn): Remove the axios dependency
  app/package.json
  app/yarn.lock
Due: app_build

chore(app): Remove the useless service worker (#162)
  app/public/js/agentj.js
  app/public/serviceworker.js
Due: app_build

chore: Update the dependencies and remove axios (#163)
  app/composer.lock
  app/package.json
  app/yarn.lock
Due: app_build

tests: add DSN test
  app/docker/tests/testmail.sh
  smtp/entrypoint.sh
Due: app_build, smtp_build

feat(smtp): Don't lookup MX from outsmtp for configured domains (#158)
  app/docker/tests/testmail.sh
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-transport_map.cf
  smtp/entrypoint.sh
Due: app_build, smtp_build

fix: Fix action order on untreated and spam messages pages
  app/src/Controller/MessageController.php
Due: app_build

chore(app): Fix the indentation of MsgsRepository
  app/src/Repository/MsgsRepository.php
Due: app_build

fix(app): List outgoing emails in the advanced search
  app/src/Repository/MsgsRepository.php
Due: app_build

fix: Fix action order on untreated and spam messages pages (#164)
  app/src/Controller/MessageController.php
Due: app_build

fix(app): List outgoing emails in the advanced search (#165)
  app/src/Repository/MsgsRepository.php
Due: app_build

release: Publish version 2.1.1
  .env.example
  CHANGELOG.md
Due: none

Auto-upgrade MariaDB if needed
  docker-compose.yml
Due: none

chore(db): Auto-upgrade MariaDB if needed (#167)
  docker-compose.yml
Due: none

Mutualize ClamAV instance for both amavis
  .env.example
  amavis/Dockerfile
  amavis/conf/amavis/amavisd.conf
  amavis/conf/amavis/amavisd_out.conf
  amavis/conf/clamav/clamd.conf
  amavis/conf/cron/agentj-amavis
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  compose.clamav.yml
  docs/readme.md
Due: amavis_build

chore: Provide a Makefile to start the environment
  .env.save
  Makefile
Due: none

ci: fix tests
  .github/workflows/tests.yml
Due: none

clamav: use official image + profiles
  .env.example
  .github/workflows/tests.yml
  compose.clamav.yml
  compose.dev.yml
  docker-compose.yml
  docs/readme.md
Due: none

Mutualize ClamAV instance for both amavis (#170)
  .env.example
  amavis/Dockerfile
  amavis/conf/amavis/amavisd.conf
  amavis/conf/amavis/amavisd_out.conf
  amavis/conf/clamav/clamd.conf
  amavis/conf/cron/agentj-amavis
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  compose.dev.yml
  docker-compose.yml
  docs/readme.md
Due: amavis_build

no amavis user in app container
  app/docker/entrypoint.sh
Due: app_build

Wait for db container to be healthy
  docker-compose.yml
Due: none

Add milters dependencies for postfixs + outamavis not needed for app
  docker-compose.yml
Due: none

no amavis user in app container (#173)
  app/docker/entrypoint.sh
Due: app_build

wip verify presence of dkim header
  app/docker/tests/testmail.sh
  opendkim/TrustedHosts
  opendkim/entrypoint.sh
Due: app_build, opendkim_build

wip postfix conf in /etc/postfix
  docker-compose.yml
  smtp/Dockerfile
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/in/master.cf
  smtp/in/mysql-transport_map.cf
  smtp/in/mysql-virtual_domains.cf
  smtp/in/mysql-virtual_recipient_maps.cf
  smtp/in/policyd-spf.conf
  smtp/out/main.cf
  smtp/out/master.cf
  smtp/out/mysql-transport_map.cf
  smtp/relay/main.cf
  smtp/relay/master.cf
  smtp/relay/slow_dest_domains_transport
Due: smtp_build

wip
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/out/main.cf
  smtp/relay/main.cf
Due: smtp_build

remove relay container, reorder postfixs conf
  .env.example
  app/.env.example
  app/docker/tests/testmail.sh
  app/src/DataFixtures/UserFixture.php
  compose.dev.yml
  docker-compose.yml
  docs/readme.md
  smtp/Dockerfile
  smtp/common/mysql-transport_map.cf
  smtp/common/slow_dest_domains_transport
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/out/main.cf
  smtp/out/master.cf
  smtp/out/mysql-transport_map.cf
  smtp/relay/main.cf
  smtp/relay/master.cf
  smtp/relay/slow_dest_domains_transport
Due: app_build, smtp_build
