Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - sed -i "s|agentj_version|$TAG|g" $CI_PROJECT_DIR/$IMG/.env.example
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

opendkim_build:
  stage: build
  variables:
    IMG: opendkim
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

policyd-rate-limit_build:
  stage: build
  variables:
    IMG: policyd-rate-limit
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

chore- Added and fixed multiple translations
  app/public/js/translations/messages/fr.js
  app/public/js/translations/messages/fr.json
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Controller/GroupsController.php
  app/src/Controller/UserController.php
  app/src/Controller/WblistController.php
  app/src/Form/GroupsType.php
  app/src/Form/UserAutocompleteField.php
  app/src/Form/UserType.php
  app/templates/account/index.html.twig
  app/templates/connector/_delete_form.html.twig
  app/templates/connector/index.html.twig
  app/templates/connector/show.html.twig
  app/templates/domain/_delete_form.html.twig
  app/templates/domain/index.html.twig
  app/templates/domain/show.html.twig
  app/templates/domain/wblist.html.twig
  app/templates/groups/_delete_form.html.twig
  app/templates/groups/index.html.twig
  app/templates/groups_wblist/_delete_form.html.twig
  app/templates/home/index.html.twig
  app/templates/policy/_delete_form.html.twig
  app/templates/register.html.twig
  app/templates/report/table_mail_msgs.html.twig
  app/templates/search/advanced_search.html.twig
  app/templates/user/_delete_form.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

chore- Added and fixed multiple translations
  app/src/Form/PolicyType.php
  app/src/Form/UserType.php
  app/templates/alert/index.html.twig
  app/templates/home/_alerts.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

docs: add a template for pull request
  docs/pull_request_template.md
Due: none

docs: adding basic templates for issues
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: updated pull request template
  docs/pull_request_template.md
Due: none

ci: add phpstan & testmail script
  .github/workflows/main.yml
  compose.ci.yml
  policyd-rate-limit/Dockerfile
Due: policyd-rate-limit_build

docs: removing empty lines from pull request template
  docs/pull_request_template.md
Due: none

docs: added a pull request template (#102)
  docs/pull_request_template.md
Due: none

docs: change bold text to title for issues template
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs: adding basic templates for issues (#101)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Fix from reviews
  .github/workflows/main.yml
Due: none

Try to not trigger gitguardian secret detection
  .github/workflows/main.yml
Due: none

Secrets stay secret
  .github/workflows/main.yml
Due: none

Same env for everyone
  .github/workflows/main.yml
Due: none

ci: phpstan + testmail (#86)
  .github/workflows/main.yml
  compose.ci.yml
  policyd-rate-limit/Dockerfile
Due: policyd-rate-limit_build

fix: added failsafe for domain without domainkeys
  app/src/Controller/DomainController.php
  app/src/Entity/Domain.php
  app/templates/domain/_form.html.twig
Due: app_build

fix: added failsafe for domain without domainkeys in domain update
  app/src/Controller/DomainController.php
  app/src/Entity/Domain.php
Due: app_build

fix(app): Parse the "from" addresses correctly
  app/phpstan-baseline.neon
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Controller/MessageController.php
  app/src/Entity/Msgs.php
Due: app_build

fix(app): Parse the "from" addresses correctly (#129)
  app/phpstan-baseline.neon
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Controller/MessageController.php
  app/src/Entity/Msgs.php
Due: app_build

task: Added even more translations
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Controller/UserController.php
  app/templates/account/index.html.twig
  app/templates/connector/index.html.twig
  app/templates/domain/_formMessage.html.twig
  app/templates/groups/group_users.html.twig
  app/templates/message/out_show.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

task: Adapt translation for action for black and white list
  app/src/Controller/WblistController.php
Due: app_build

fix: optimize code for handling null domainKeys
  app/src/Controller/DomainController.php
Due: app_build

Update app/templates/account/index.html.twig
  app/templates/account/index.html.twig
Due: app_build

fix: correction for visual issues in homepage modals
  app/templates/home/_latest_messages.html.twig
  app/templates/home/_stats_table.html.twig
  app/templates/home/index.html.twig
Due: app_build

fix: fix search function for messages and wblist to search only in displayed columns
  app/src/Repository/MsgsRepository.php
  app/src/Repository/WblistRepository.php
Due: app_build

fix: Added required field in DomainType to avoid error 500
  app/src/Controller/DomainController.php
  app/src/Form/DomainType.php
Due: app_build

fix: added missing row in policy form and ordered them
  app/templates/policy/_form.html.twig
Due: app_build

fix: added missing row in policy form and ordered them (#138)
  app/templates/policy/_form.html.twig
Due: app_build

fix: Added required field in DomainType to avoid error 500 (#137)
  app/src/Controller/DomainController.php
  app/src/Form/DomainType.php
Due: app_build

fix: added back domains logics for user form
  app/templates/user/_form.html.twig
Due: app_build

fix: fix search function for messages and wblist to search only in displayed columns (#136)
  app/src/Repository/MsgsRepository.php
  app/src/Repository/WblistRepository.php
Due: app_build

fix: added back domains logics for user form (#140)
  app/templates/user/_form.html.twig
Due: app_build

fix: added failsafe for domain without domainkeys (#118)
  app/src/Controller/DomainController.php
  app/src/Entity/Domain.php
  app/templates/domain/_form.html.twig
Due: app_build

fix: optimized advanced search and secure search from injection
  app/src/Repository/MsgsRepository.php
Due: app_build

fix: fixed front layout of dashboard for mobiles
  app/templates/home/_alerts.html.twig
  app/templates/home/_latest_messages.html.twig
  app/templates/home/_stats_table.html.twig
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
