Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - sed -i "s|agentj_version|$TAG|g" $CI_PROJECT_DIR/$IMG/.env.example
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

opendkim_build:
  stage: build
  variables:
    IMG: opendkim
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

policyd-rate-limit_build:
  stage: build
  variables:
    IMG: policyd-rate-limit
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

Wait for db container to be healthy (#172)
  docker-compose.yml
Due: none

wip postfix conf in /etc/postfix
  docker-compose.yml
  smtp/Dockerfile
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/in/master.cf
  smtp/in/mysql-transport_map.cf
  smtp/in/mysql-virtual_domains.cf
  smtp/in/mysql-virtual_recipient_maps.cf
  smtp/in/policyd-spf.conf
  smtp/out/main.cf
  smtp/out/master.cf
  smtp/out/mysql-transport_map.cf
  smtp/relay/main.cf
  smtp/relay/master.cf
  smtp/relay/slow_dest_domains_transport
Due: smtp_build

wip
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/out/main.cf
  smtp/relay/main.cf
Due: smtp_build

remove relay container, reorder postfixs conf
  .env.example
  app/.env.example
  app/docker/tests/testmail.sh
  app/src/DataFixtures/UserFixture.php
  compose.dev.yml
  docker-compose.yml
  docs/readme.md
  smtp/Dockerfile
  smtp/common/mysql-transport_map.cf
  smtp/common/slow_dest_domains_transport
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/out/main.cf
  smtp/out/master.cf
  smtp/out/mysql-transport_map.cf
  smtp/relay/main.cf
  smtp/relay/master.cf
  smtp/relay/slow_dest_domains_transport
Due: app_build, smtp_build

rework postfixes conf
  app/src/Command/ReportSendMailCommand.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
  policyd-rate-limit/policyd-rate-limit.yaml
  smtp/Dockerfile
  smtp/in/main.cf
  smtp/out/main.cf
Due: app_build, smtp_build, policyd-rate-limit_build

Execute tests on host
  .github/workflows/tests.yml
  app/docker/tests/100mailsbyuser.sh
  app/docker/tests/50spams50virusbyusers.sh
  app/docker/tests/init.sh
  app/docker/tests/reset_db.sh
  tests/eicar.com.txt
  tests/gtube
  tests/reset_db.sh
  tests/smtpd.conf
  tests/tests.sh
Due: app_build

tests: dependencies
  .github/workflows/tests.yml
Due: none

tests: same authorized smtp for both test domains
  app/src/DataFixtures/DomainFixture.php
  tests/smtpd.conf
  tests/tests.sh
Due: app_build

doc + fix swaks args for ubuntu24.04 version
  app/Dockerfile.dev
  compose.dev.yml
  docs/dev_mail.md
  docs/readme.md
  scripts/100mailsbyuser.sh
  scripts/50spams50virusbyusers.sh
  tests/tests.sh
Due: app_build

chore: Provide a Makefile to start the environment
  Makefile
Due: none

Execute tests on host (#178)
  .github/workflows/tests.yml
  app/Dockerfile.dev
  app/docker/tests/100mailsbyuser.sh
  app/docker/tests/50spams50virusbyusers.sh
  app/docker/tests/init.sh
  app/docker/tests/reset_db.sh
  app/src/DataFixtures/DomainFixture.php
  compose.dev.yml
  docs/dev_mail.md
  docs/readme.md
  scripts/100mailsbyuser.sh
  scripts/50spams50virusbyusers.sh
  tests/eicar.com.txt
  tests/gtube
  tests/reset_db.sh
  tests/tests.sh
Due: app_build

simplify postfix conf, remove relay
  .env.example
  app/.env.example
  app/docker/tests/testmail.sh
  app/src/Command/ReportSendMailCommand.php
  app/src/DataFixtures/UserFixture.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
  compose.dev.yml
  docker-compose.yml
  docs/readme.md
  policyd-rate-limit/policyd-rate-limit.yaml
  smtp/Dockerfile
  smtp/common/mysql-transport_map.cf
  smtp/common/slow_dest_domains_transport
  smtp/conf/in/postfix/main.cf
  smtp/conf/in/postfix/master.cf
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-transport_map.cf
  smtp/conf/relay/postfix/main.cf
  smtp/conf/relay/postfix/slow_dest_domains_transport
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/in/master.cf
  smtp/in/mysql-virtual_domains.cf
  smtp/in/mysql-virtual_recipient_maps.cf
  smtp/in/policyd-spf.conf
  smtp/out/main.cf
  smtp/out/master.cf
Due: app_build, smtp_build, policyd-rate-limit_build

Use the global mailer configuration when possible
  .github/workflows/tests.yml
  app/.env.example
  app/Dockerfile.dev
  app/config/packages/mailer.yaml
  app/config/services.yaml
  app/docker/tests/100mailsbyuser.sh
  app/docker/tests/50spams50virusbyusers.sh
  app/docker/tests/init.sh
  app/docker/tests/reset_db.sh
  app/phpstan-baseline.neon
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Command/ReportSendMailCommand.php
  app/src/DataFixtures/DomainFixture.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
  compose.dev.yml
  docs/dev_mail.md
  docs/readme.md
  scripts/100mailsbyuser.sh
  scripts/50spams50virusbyusers.sh
  tests/eicar.com.txt
  tests/gtube
  tests/reset_db.sh
  tests/tests.sh
Due: app_build

SMTP conf
  .env.example
  amavis/Dockerfile
  app/.env.example
  app/Dockerfile
  opendkim/opendkim.conf
  senderverifmilter/handler.py
  smtp/Dockerfile
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/in/master.cf
  smtp/out/main.cf
  smtp/out/master.cf
  tests/tests.sh
Due: app_build, amavis_build, smtp_build, opendkim_build

adapt tests scripts
  scripts/100mailsbyuser.sh
  scripts/50spams50virusbyusers.sh
  scripts/mail_to_agentj.sh
  scripts/mail_via_agentj.sh
Due: none

chore(ci): Fix the CI for PHPStan
  .github/workflows/tests.yml
Due: none

dev: Add relation between Msgs and Msgrcpt
  app/migrations/Version20250424140106.php
  app/src/Entity/Msgrcpt.php
  app/src/Entity/Msgs.php
Due: app_build

dev: Add DATEDIFF Doctrine extension
  app/config/packages/doctrine.yaml
  app/src/Doctrine/Extensions/DateDiff.php
Due: app_build

fix: declare idx_msgs_quar_type index in Msgs entity
  app/src/Entity/Msgs.php
Due: app_build

fix: declare index idx_maddr_email in Maddr entity
  app/src/Entity/Maddr.php
Due: app_build

Remove unused FetchMode in DomainRepository
  app/src/Repository/DomainRepository.php
Due: app_build

dev: Add method to retrieve domain name form maddr
  app/src/Entity/Maddr.php
Due: app_build

dev: refactor sending mail auth requests
  app/src/Amavis/ContentType.php
  app/src/Amavis/DeliveryStatus.php
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Entity/Msgs.php
  app/src/Repository/MsgsRepository.php
  app/templates/message/show.html.twig
Due: app_build

fix: change declaration type in Maddr and MsgRcpt
  app/src/Entity/Maddr.php
Due: app_build

misc: Rename MsgsSendMailTokenCommand
  app/docker/conf/cron/agentj
  app/src/Command/SendAuthMailRequestCommand.php
Due: app_build

dev: improve releasing messages from auth request
  app/src/Controller/DefaultController.php
  app/src/Service/MessageService.php
Due: app_build

Allow TLS for Postfix SMTP client
  smtp/conf/out/postfix/main.cf
  smtp/conf/relay/postfix/main.cf
Due: smtp_build

Update app/src/Repository/MsgsRepository.php
  app/src/Repository/MsgsRepository.php
Due: app_build

Update app/src/Command/SendAuthMailRequestCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
Due: app_build

imp :finish refacoring send mail token
  app/phpstan-baseline.neon
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/Doctrine/Extensions/DateDiff.php
  app/src/Entity/Msgs.php
  app/src/Repository/MsgsRepository.php
  app/src/Service/MessageService.php
  app/templates/message/show.html.twig
Due: app_build

Allow TLS for Postfix SMTP client (#184)
  smtp/conf/out/postfix/main.cf
  smtp/conf/relay/postfix/main.cf
Due: smtp_build

senderverifmilter: brief doc
  senderverifmilter/Dockerfile
  senderverifmilter/handler.py
  senderverifmilter/readme.md
Due: none

senderverifmilter: brief doc (#186)
  senderverifmilter/Dockerfile
  senderverifmilter/handler.py
  senderverifmilter/readme.md
Due: none

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
