Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*

fix: Store locks in database
  app/config/packages/lock.yaml
  app/src/Command/AmavisAutoReleaseCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/MessageHandler/ConsolidateAmavisDataHandler.php
  app/src/MessageHandler/SynchronizeConnectorsHandler.php
Due: app_build

feat: Allow to read mail in advanced search
  app/templates/search/_messages.html.twig
Due: app_build

chore: Add a lock on mail release
  app/src/MessageHandler/AmavisReleaseHandler.php
Due: app_build

feat: Remove limit of 10 mails in the report
  app/src/Command/ReportSendMailCommand.php
Due: app_build

Use EHLO_DOMAIN in smtpd_banner
  smtp/in/main.cf
  smtp/out/main.cf
Due: smtp_build

chore: Add ability to enable TLS for incoming emails
  .env.example
  docker-compose.yml
  smtp/entrypoint.sh
  smtp/in/main.cf
Due: smtp_build

fix: Store locks in database
  app/config/packages/lock.yaml
  app/migrations/Version20260318095554.php
  app/src/Command/AmavisAutoReleaseCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/MessageHandler/ConsolidateAmavisDataHandler.php
  app/src/MessageHandler/SynchronizeConnectorsHandler.php
Due: app_build

fix: Escape variables in report template
  app/src/Command/ReportSendMailCommand.php
Due: app_build

chore: Allow to configure Amavis autorelease frequency
  app/.env.example
  app/docker/setup-env.sh
  app/src/Scheduler.php
Due: app_build

release: Publish version 2.5.2
  .env.example
  CHANGELOG.md
Due: none

wip: chore: Add a command to extract translation keys
  Makefile
  app/src/Controller/UserController.php
  app/src/Form/ActionsFilterType.php
  app/src/Form/ConnectorType.php
  app/src/Form/DomainCustomisationGeneralType.php
  app/src/Form/DomainCustomisationHumanAuthenticationType.php
  app/src/Form/DomainCustomisationReportType.php
  app/src/Form/DomainRelayType.php
  app/src/Form/DomainType.php
  app/src/Form/GroupsType.php
  app/src/Form/HumanAuthenticationType.php
  app/src/Form/SearchFilterType.php
  app/translations/messages.en.yaml
  app/translations/messages.en.yml
  app/translations/messages.fr.yaml
  app/translations/messages.fr.yml
  app/translations/validators.en.yaml
  app/translations/validators.fr.yaml
Due: app_build

chore: Refactor authorizing/banning a sender for a domain
  app/src/Controller/MessageController.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/UserRepository.php
  app/src/Service/MessageService.php
Due: app_build

chore: Refactor authorizing/banning a sender for a recipient
  app/src/Controller/HumanAuthenticationsController.php
  app/src/Controller/MessageController.php
  app/src/Controller/Portal/MessagesController.php
  app/src/Entity/BaseMessage.php
  app/src/Repository/MailaddrRepository.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/UserRepository.php
  app/src/Repository/WblistRepository.php
  app/src/Service/MessageService.php
Due: app_build

WIP
  app/src/Controller/AccountController.php
  app/src/Controller/DomainController.php
  app/src/Form/DomainType.php
  app/templates/account/index.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

chore: Refactor authorizing/banning a sender for a domain
  app/src/Controller/MessageController.php
  app/src/Entity/Maddr.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/UserRepository.php
  app/src/Service/MessageService.php
  app/src/Util/Url.php
Due: app_build

chore: Refactor wblist actions
  app/src/Command/LDAPImportCommand.php
  app/src/Command/Office365ImportCommand.php
  app/src/Controller/AccountController.php
  app/src/Controller/DomainController.php
  app/src/Controller/GroupsController.php
  app/src/Controller/GroupsWblistController.php
  app/src/Controller/ImportController.php
  app/src/Controller/MessageController.php
  app/src/Controller/Traits/ControllerWBListTrait.php
  app/src/Controller/UserController.php
  app/src/Controller/WblistController.php
  app/src/DataFixtures/DomainFixture.php
  app/src/DataFixtures/GroupsFixture.php
  app/src/Entity/Groups.php
  app/src/Entity/GroupsWblist.php
  app/src/Entity/WbRuleTrait.php
  app/src/Entity/Wblist.php
  app/src/Form/DomainType.php
  app/src/Form/GroupsType.php
  app/src/Form/GroupsWblistType.php
  app/src/Form/WblistType.php
  app/src/Repository/WblistRepository.php
  app/src/Service/MessageService.php
  app/src/Util/Email.php
  app/templates/account/index.html.twig
  app/templates/domain/_form.html.twig
  app/templates/domain/wblist.html.twig
  app/templates/groups/_form.html.twig
  app/templates/groups_wblist/index.html.twig
  app/templates/message/show.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

Migrate wblists to the new "accept" rule
  app/migrations/Version20260409153811.php
Due: app_build

Accept sender instead of allowing them when authorizing
  amavis/conf/amavis/amavisd_out.conf
  app/src/Controller/DomainController.php
  app/src/Controller/WblistController.php
  app/src/Form/GroupsWblistType.php
  app/src/Service/MessageService.php
Due: app_build, amavis_build

Configure accepted spam level of domains' authorized senders
  app/migrations/Version20260325155033.php
  app/src/Entity/Domain.php
  app/src/Form/DomainType.php
  app/templates/domain/_form.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

Release mails from accepted senders
  app/src/Amavis/MessageStatus.php
  app/src/Command/AmavisAutoReleaseCommand.php
  app/src/Entity/BaseMessageRecipient.php
  app/src/Entity/WbRuleTrait.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/UserRepository.php
  app/src/Repository/WblistRepository.php
Due: app_build

Fix tests on the CI
  .github/workflows/tests.yml
  tests/tests.sh
Due: none

Fix getting if sender is authorized or in any recipient list
  app/src/Controller/HumanAuthenticationsController.php
  app/src/Entity/WbRuleTrait.php
  app/src/Repository/WblistRepository.php
Due: app_build

Add option to disable antispoofing for outgoing emails
  .env.example
  senderverifmilter/handler.py
Due: none

feat: Add option to disable antispoofing for outgoing emails
  .env.example
  docker-compose.yml
  senderverifmilter/handler.py
Due: none

chore: Remove Doctrine extension DateDiff
  app/config/packages/doctrine.yaml
  app/src/Doctrine/Extensions/DateDiff.php
Due: app_build

chore: Improve perf of sending authentication request emails
  app/migrations/Version20260505121650.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/Entity/BaseMessageRecipient.php
  app/src/Entity/Msgs.php
  app/src/Repository/MsgsRepository.php
Due: app_build

fix: Fix switching user when connected as "simple" admin
  app/config/packages/security.yaml
  app/src/Entity/User.php
  app/src/EventListener/SwitchUserSubscriber.php
  app/src/Security/SwitchToUserVoter.php
Due: app_build

chore(amavis): Fix sa-update cron
  amavis/conf/cron/agentj-amavis
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
Due: amavis_build

chore(amavis): Tweak SA's scores
  amavis/conf/spamassassin/local.cf
Due: amavis_build

chore(amavis): Remove trailing spaces
  amavis/Dockerfile
Due: amavis_build

chore(amavis): Use Amavis::SpamControl::SpamAssassin instead of spamd
  amavis/Dockerfile
  amavis/conf/cron/agentj-amavis
  amavis/conf/supervisor/supervisord.conf
Due: amavis_build

chore(amavis): Add RBL and URIDNSBL
  amavis/conf/spamassassin/local.cf
Due: amavis_build

release: Publish version 2.5.3
  .env.example
  CHANGELOG.md
Due: none

chore: Update the dependencies
  app/composer.lock
  app/yarn.lock
Due: app_build

feat: Setup Bayesian learning properly
  .gitignore
  amavis/Dockerfile
  amavis/conf/cron/agentj-amavis
  amavis/conf/spamassassin/local.cf
  amavis/entrypoint.sh
  amavis/sa-learn.sh
  app/config/packages/doctrine.yaml
  app/migrations/Version20260506133939.php
  compose.dev.yml
  docker-compose.yml
  sa_learn/hams/.keep
  sa_learn/spams/.keep
  scripts/sa-learn
Due: app_build, amavis_build

feat(cli): Add command to mark a message as spam/ham
  app/config/services.yaml
  app/src/Command/MessageMarkAsCommand.php
  compose.dev.yml
  docker-compose.yml
Due: app_build
