Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

fix query to exclude mail with virus from untreated mails
  app/src/Repository/MsgsRepository.php
Due: app_build

fix query to exclude mail with virus from restored, banned,etc...
  app/src/Repository/MsgsRepository.php
Due: app_build

use SMTP_TRANSPORT_REPORT = smtp to send report instead of relay
  app/config/services.yaml
  app/docker/files/.env
  app/src/Command/ReportSendMailCommand.php
Due: app_build

New entity DailyStat for saving long term stats
  app/src/Entity/DailyStat.php
  app/src/Repository/DailyStatRepository.php
Due: app_build

added new Command to save stats
  app/src/Command/SaveStatCommand.php
  app/src/Repository/MsgsRepository.php
Due: app_build

advance daily stats
  app/migrations/Version20230118091904.php
  app/src/Command/SaveStatCommand.php
  app/src/Controller/MessageController.php
  app/src/Repository/MsgsRepository.php
Due: app_build

persists daily stat
  app/src/Command/SaveStatCommand.php
Due: app_build

rector annotation to attributes on entities
  app/composer.json
  app/composer.lock
  app/src/Entity/Connector.php
  app/src/Entity/DailyStat.php
  app/src/Entity/Domain.php
  app/src/Entity/Groups.php
  app/src/Entity/GroupsWblist.php
  app/src/Entity/Log.php
  app/src/Entity/Maddr.php
  app/src/Entity/Mailaddr.php
  app/src/Entity/MessageStatus.php
  app/src/Entity/Msgrcpt.php
  app/src/Entity/Msgs.php
  app/src/Entity/Office365Connector.php
  app/src/Entity/Policy.php
  app/src/Entity/Quarantine.php
  app/src/Entity/Rights.php
  app/src/Entity/Settings.php
  app/src/Entity/Traits/EntityBlameableTrait.php
  app/src/Entity/Traits/EntityTimestampableTrait.php
  app/src/Entity/User.php
  app/src/Entity/Wblist.php
Due: app_build

change doctrine config to use attributes instead of annotations
  app/config/packages/doctrine.yaml
Due: app_build

added domain property to DailyStat
  app/src/Entity/DailyStat.php
  app/src/Entity/Domain.php
Due: app_build

save stats by domain
  app/src/Command/SaveStatCommand.php
  app/src/Repository/MsgsRepository.php
Due: app_build

change cron stats
  app/docker/conf/cron/agentj
  app/migrations/Version20230118130123.php
  app/src/Command/SaveStatCommand.php
Due: app_build

rector annotation to attribute on branch ldap-integration
  app/composer.json
  app/composer.lock
  app/src/Entity/Connector.php
  app/src/Entity/Domain.php
  app/src/Entity/Groups.php
  app/src/Entity/GroupsWblist.php
  app/src/Entity/LdapConnector.php
  app/src/Entity/Log.php
  app/src/Entity/Maddr.php
  app/src/Entity/Mailaddr.php
  app/src/Entity/MessageStatus.php
  app/src/Entity/Msgrcpt.php
  app/src/Entity/Msgs.php
  app/src/Entity/Office365Connector.php
  app/src/Entity/Policy.php
  app/src/Entity/Quarantine.php
  app/src/Entity/Rights.php
  app/src/Entity/Settings.php
  app/src/Entity/Traits/EntityBlameableTrait.php
  app/src/Entity/Traits/EntityTimestampableTrait.php
  app/src/Entity/User.php
  app/src/Entity/Wblist.php
Due: app_build

relay: fix postfix table format
  relay/conf/postfix/main.cf
  relay/entrypoint.sh
Due: relay_build

relay: typo in entrypoint
  relay/entrypoint.sh
Due: relay_build

added docker volume for symfony logs
  docker-compose.yml
Due: none

fix added docker volume for symfony logs
  docker-compose.yml
Due: none

remove docker volume symfonylogs
  docker-compose.yml
Due: none

test with syslog-ng
  relay/conf/supervisor/supervisord.conf
Due: relay_build

test with syslog-ng
  amavis/Dockerfile
  amavis/conf/rsyslog/rsyslog.conf
  amavis/conf/supervisor/supervisord.conf
  app/Dockerfile
  app/docker/conf/cron/agentj
  app/docker/conf/rsyslog/rsyslog.conf
  docker-compose.yml
  relay/Dockerfile
  relay/conf/rsyslog/rsyslog.conf
  smtp/Dockerfile
  smtp/conf/rsyslog/rsyslog.conf
  syslogng/conf/syslog-ng.conf
Due: app_build, amavis_build, relay_build, smtp_build, syslogng_build

messing with logs
  app/Dockerfile
  docker-compose.yml
  relay/conf/supervisor/supervisord.conf
Due: app_build, relay_build

redirect app logs to php://stderr
  app/config/packages/prod/monolog.yaml
  app/docker/conf/php-fpm/www.conf
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
