Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - sed -i "s|agentj_version|$TAG|g" $CI_PROJECT_DIR/$IMG/.env.example
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

opendkim_build:
  stage: build
  variables:
    IMG: opendkim
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

policyd-rate-limit_build:
  stage: build
  variables:
    IMG: policyd-rate-limit
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

wip db
  app/src/Command/LDAPImportCommand.php
  app/src/Command/Office365ImportCommand.php
  app/src/Entity/Connector.php
Due: app_build

wip front
  app/.gitignore
  app/src/Entity/Connector.php
  app/templates/domain/_form.html.twig
  app/translations/messages+intl-icu.en.yaml
  app/translations/messages+intl-icu.fr.yaml
Due: app_build

chore: Allow Nginx app to be set behind a reverse proxy
  .env.example
  app/docker/entrypoint.sh
Due: app_build

fix: Fix accessing groups for super admin
  app/src/Controller/GroupsController.php
  app/src/Repository/GroupsRepository.php
Due: app_build

Change watcher node image by the app image
  compose.dev.yml
  scripts/yarn
Due: none

chore: Refactor the locales system
  app/config/packages/translation.yaml
  app/config/packages/twig.yaml
  app/config/services.yaml
  app/src/Form/DomainCustomisationGeneralType.php
  app/src/Twig/AppExtension.php
  app/templates/header.html.twig
Due: app_build

release: Publish version 2.6.5
  .env.example
  CHANGELOG.md
Due: none

chore: remove datable from alerts table
  app/src/Controller/AlertController.php
  app/src/Repository/AlertRepository.php
  app/templates/alert/index.html.twig
Due: app_build

feat: remove daily stats system
  app/docker/conf/cron/agentj
  app/migrations/Version20260618082334.php
  app/src/Command/SaveStatCommand.php
  app/src/Entity/DailyStat.php
  app/src/Entity/Domain.php
  app/src/Repository/DailyStatRepository.php
  app/src/Repository/MsgrcptSearchRepository.php
Due: app_build

fix: Fix typo and incoherent strings in english translations
  app/translations/messages+intl-icu.en.yaml
Due: app_build

docs: Add web interface admin doc
  docs/README.md
  docs/administrators/howtos.md
  docs/administrators/webinterface.md
Due: none

feat: Import LDAP and O365 connectors asynchronously
  app/assets/controllers/connector_import_controller.js
  app/assets/styles/css/agentj.css
  app/migrations/Version20260617140827.php
  app/src/Command/LDAPImportCommand.php
  app/src/Command/Office365ImportCommand.php
  app/src/Controller/ConnectorController.php
  app/src/Controller/LdapConnectorController.php
  app/src/Controller/Office365ConnectorController.php
  app/src/Entity/Connector.php
  app/src/Message/SynchronizeConnectors.php
  app/src/MessageHandler/SynchronizeConnectorsHandler.php
  app/src/Scheduler.php
  app/templates/base.html.twig
  app/templates/connector/sync_result.html.twig
  app/templates/domain/_form.html.twig
  app/translations/messages+intl-icu.en.yaml
  app/translations/messages+intl-icu.fr.yaml
Due: app_build

fix: Fix redirection after editing a connector
  app/assets/controllers/domain-tabs_controller.js
  app/src/Controller/ConnectorController.php
  app/src/Controller/ImapConnectorController.php
  app/src/Controller/LdapConnectorController.php
  app/src/Controller/Office365ConnectorController.php
Due: app_build

chore: Update the dependencies
  app/composer.lock
  app/config/reference.php
Due: app_build

chore: Upgrade to PHPCS 4
  app/composer.json
  app/composer.lock
Due: app_build

chore: Drop package-versions-deprecated dependency
  app/composer.json
  app/composer.lock
  app/symfony.lock
Due: app_build

chore: Drop phpdocumentor/reflection-docblock dependency
  app/composer.json
  app/composer.lock
  app/symfony.lock
Due: app_build

chore: Upgrade to microsoft-graph 3
  app/composer.json
  app/composer.lock
Due: app_build

chore: Drop Symfony phpunit-bridge dependency
  app/composer.json
  app/composer.lock
  app/phpunit.xml.dist
  app/symfony.lock
Due: app_build

chore: Update Yarn dependencies
  app/package.json
  app/yarn.lock
Due: app_build

chore: remove datatable from in/out stats
  app/src/Controller/DashboardController.php
  app/src/Repository/UserRepository.php
  app/templates/dashboard/_stats-in-out_table.html.twig
  app/templates/dashboard/stats-by-in-out-list.html.twig
  app/templates/dashboard/stats-by-in-out.html.twig
  app/templates/home/index.html.twig
Due: app_build

chore: Remove all references to datatable
  app/assets/styles/scss/styles.scss
  app/public/js/agentj.js
  app/public/lib/DataTables/css/dataTables.bootstrap.css
  app/public/lib/DataTables/css/dataTables.bootstrap.min.css
  app/public/lib/DataTables/css/dataTables.bootstrap4.css
  app/public/lib/DataTables/css/dataTables.bootstrap4.min.css
  app/public/lib/DataTables/css/dataTables.foundation.css
  app/public/lib/DataTables/css/dataTables.foundation.min.css
  app/public/lib/DataTables/css/dataTables.jqueryui.css
  app/public/lib/DataTables/css/dataTables.jqueryui.min.css
  app/public/lib/DataTables/css/dataTables.semanticui.css
  app/public/lib/DataTables/css/dataTables.semanticui.min.css
  app/public/lib/DataTables/css/jquery.dataTables.css
  app/public/lib/DataTables/css/jquery.dataTables.min.css
  app/public/lib/DataTables/images/sort_asc.png
  app/public/lib/DataTables/images/sort_asc_disabled.png
  app/public/lib/DataTables/images/sort_both.png
  app/public/lib/DataTables/images/sort_desc.png
  app/public/lib/DataTables/images/sort_desc_disabled.png
  app/public/lib/DataTables/js/dataTables.bootstrap.js
  app/public/lib/DataTables/js/dataTables.bootstrap.min.js
  app/public/lib/DataTables/js/dataTables.bootstrap4.js
  app/public/lib/DataTables/js/dataTables.bootstrap4.min.js
  app/public/lib/DataTables/js/dataTables.foundation.js
  app/public/lib/DataTables/js/dataTables.foundation.min.js
  app/public/lib/DataTables/js/dataTables.jqueryui.js
  app/public/lib/DataTables/js/dataTables.jqueryui.min.js
  app/public/lib/DataTables/js/dataTables.semanticui.js
  app/public/lib/DataTables/js/dataTables.semanticui.min.js
  app/public/lib/DataTables/js/jquery.dataTables.js
  app/public/lib/DataTables/js/jquery.dataTables.min.js
  app/templates/base.html.twig
  app/templates/base_security.html.twig
Due: app_build

chore: Install and configure PHPUnit
  Makefile
  app/.env.test
  app/.gitignore
  app/bin/phpunit
  app/composer.json
  app/composer.lock
  app/config/packages/framework.yaml
  app/package.json
  app/phpunit.xml.dist
  app/symfony.lock
  app/tests/bootstrap.php
  scripts/php
Due: app_build

chore: Install and configure Zenstruck Foundry
  app/composer.json
  app/composer.lock
  app/config/bundles.php
  app/config/packages/zenstruck_foundry.yaml
  app/config/reference.php
  app/config/services.yaml
  app/symfony.lock
Due: app_build

chore: Add tests on SecurityController
  app/tests/Controller/SecurityControllerTest.php
  app/tests/Factory/UserFactory.php
Due: app_build

chore: configure tests
  .gitignore
  app/.env.test
  app/.env.test.example
  app/.gitignore
  app/composer.json
  app/composer.lock
  app/config/bundles.php
  app/config/reference.php
  app/docker/setup-env.sh
  app/package.json
  app/phpunit.xml.dist
  app/symfony.lock
  mariadb-entrypoint-initdb.d/create-tests-db.sh
Due: app_build

chore: add tests on UserController
  app/.phpcs.xml
  app/phpstan.neon
  app/src/Controller/DomainController.php
  app/src/Entity/Domain.php
  app/src/Form/UserType.php
  app/tests/Controller/UserControllerTest.php
  app/tests/Factory/DomainFactory.php
  app/tests/Factory/DomainKeyFactory.php
  app/tests/Factory/PolicyFactory.php
  app/tests/Factory/UserFactory.php
  app/tests/SessionHelper.php
Due: app_build

feat: parameterize script to send mails
  scripts/mail_to_agentj.sh
  scripts/mail_via_agentj.sh
Due: none

chore: upgrade smtp system to debian 13
  smtp/Dockerfile
Due: smtp_build

Create postfix user and group before installation
  smtp/Dockerfile
Due: smtp_build

Create amavis user and group before installation
  amavis/Dockerfile
Due: amavis_build

chore: upgrade amavis system to debian 13
  amavis/Dockerfile
Due: amavis_build

fix: WBList entries are case-insensitive
  app/src/Service/MessageService.php
  app/src/Util/Email.php
Due: app_build

chore: clean the base templates
  app/templates/base.html.twig
  app/templates/base_security.html.twig
Due: app_build

chore: rename Groups to Group
  app/phpstan-baseline.neon
  app/src/Command/LDAPImportCommand.php
  app/src/Command/Office365ImportCommand.php
  app/src/Command/UpdateGroupsWblistCommand.php
  app/src/Controller/AccountController.php
  app/src/Controller/GroupController.php
  app/src/Controller/GroupsWblistController.php
  app/src/Controller/ImportController.php
  app/src/Controller/UserController.php
  app/src/DataFixtures/GroupFixture.php
  app/src/DataFixtures/UserFixture.php
  app/src/Entity/Connector.php
  app/src/Entity/Domain.php
  app/src/Entity/Group.php
  app/src/Entity/GroupsWblist.php
  app/src/Entity/Rights.php
  app/src/Entity/User.php
  app/src/Entity/WbRuleTrait.php
  app/src/Entity/Wblist.php
  app/src/Form/GroupType.php
  app/src/Form/LdapConnectorType.php
  app/src/Form/UserType.php
  app/src/Repository/GroupRepository.php
  app/src/Repository/GroupsWblistRepository.php
  app/src/Repository/UserRepository.php
  app/src/Repository/WblistRepository.php
  app/src/Service/UserService.php
  app/src/Twig/AppExtension.php
Due: app_build

wip
  app/migrations/Version20260706134706.php
  app/src/Controller/GroupController.php
  app/src/Controller/GroupsWblistController.php
  app/src/Controller/UserController.php
  app/src/Entity/Connector.php
  app/src/Form/UserType.php
  app/src/Repository/GroupsWblistRepository.php
  app/templates/account/index.html.twig
  app/templates/group/_form.html.twig
  app/templates/group/edit.html.twig
  app/templates/group/group_users.html.twig
  app/templates/group/index.html.twig
  app/templates/group/new.html.twig
  app/templates/groups_wblist/index.html.twig
  app/templates/message/show.html.twig
  app/templates/navigation.html.twig
  app/templates/user/indexEmail.html.twig
  app/translations/messages+intl-icu.en.yaml
  app/translations/messages+intl-icu.fr.yaml
Due: app_build

Add generic per-domain API for user import
  app/config/packages/security.yaml
  app/migrations/Version20260707120000.php
  app/src/Command/GenerateApiKeyCommand.php
  app/src/Controller/Api/UserImportController.php
  app/src/Entity/Domain.php
  app/src/Security/ApiKeyAuthenticator.php
  app/src/Security/ApiKeyUser.php
  app/src/Service/UserApiImportService.php
Due: app_build

Fix ApiKeyAuthenticator and add users delete API endpoint
  app/src/Controller/Api/UserImportController.php
  app/src/Security/ApiKeyAuthenticator.php
  app/src/Service/UserApiImportService.php
Due: app_build

feat: refacto group wblist
  app/src/Controller/GroupsWblistController.php
  app/templates/group/index.html.twig
  app/templates/groups_wblist/_form.html.twig
  app/templates/groups_wblist/index.html.twig
  app/templates/message/show.html.twig
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
