Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - sed -i "s|agentj_version|$TAG|g" $CI_PROJECT_DIR/$IMG/.env.example
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

opendkim_build:
  stage: build
  variables:
    IMG: opendkim
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

policyd-rate-limit_build:
  stage: build
  variables:
    IMG: policyd-rate-limit
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

fix: Replace NB_UNTREATED_MESSAGES in the reports
  app/src/Command/ReportSendMailCommand.php
Due: app_build

fix: Sync user domain with his email domain on edition
  app/src/Controller/UserController.php
Due: app_build

release: Publish version 2.2.2
  .env.example
  CHANGELOG.md
Due: none

chore: Remove datatable from list users
  app/assets/controllers/mass_action_form_controller.js
  app/assets/styles/css/agentj.css
  app/config/packages/paginator.yaml
  app/config/packages/twig.yaml
  app/migrations/Version20250826085029.php
  app/src/Controller/DefaultController.php
  app/src/Controller/UserController.php
  app/src/Entity/Alert.php
  app/src/Entity/User.php
  app/src/Repository/UserRepository.php
  app/templates/common/_paginationAndPerPageSelector.html.twig
  app/templates/common/_rapidSearchForm.html.twig
  app/templates/common/_sortable_link.html.twig
  app/templates/common/blockTitleAndButtons.html.twig
  app/templates/search/advanced_search.html.twig
  app/templates/user/_batchActionsAndSearch.html.twig
  app/templates/user/_delete_form.html.twig
  app/templates/user/_form.html.twig
  app/templates/user/_impersonation_form.html.twig
  app/templates/user/indexAlias.html.twig
  app/templates/user/indexEmail.html.twig
  app/templates/user/indexLocal.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

chore: Remove datatable from domains
  app/src/Controller/DomainController.php
  app/src/Repository/DomainRepository.php
  app/templates/domain/index.html.twig
Due: app_build

fix(ldap): Don't import aliases if they match the main email
  .gitignore
  app/src/Command/LDAPImportCommand.php
Due: app_build

docs: Add missing instructions to load test data
  docs/README.md
Due: none

docs: Add missing instructions when creating LDAP connector
  docs/README.md
Due: none

docs: Add instructions to debug with Xdebug and VS Code
  docs/README.md
Due: none

docs: Reorganize the documentation
  .env.example
  CHANGELOG.md
  README.md
  docs/README.md
  docs/administrators/auth_azure.md
  docs/administrators/deploy.md
  docs/dev_mail.md
  docs/developers/git.md
  docs/developers/install.md
  docs/developers/ldap.md
  docs/developers/linters.md
  docs/developers/mail.md
  docs/developers/release.md
  docs/developers/xdebug.md
  docs/infrastructure.md
  docs/versioning.md
Due: none

docs: Fix the doc about XDEBUG
  app/docker/files/docker-php-ext-xdebug.ini
  docs/developers/xdebug.md
Due: app_build

chore: Add custom LDAP schema (sharedWith, alias)
  compose.dev.yml
  docs/developers/ldap.md
  ldap/schemas/custom.ldif
  ldap/tree.ldif
Due: none

feat(ldap): Remove the unused connector login field
  app/migrations/Version20250912094652.php
  app/src/Entity/LdapConnector.php
  app/src/Form/LdapConnectorType.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
  docs/developers/ldap.md
Due: app_build

chore: Add the app/public/files folder to gitignore
  .gitignore
Due: none

chore: Don't set the lock setting
  app/config/packages/lock.yaml
Due: app_build

chore: Replace calls to apt by apt-get
  .github/workflows/tests.yml
  opendkim/Dockerfile
  tests/Dockerfile
Due: opendkim_build

chore: Add new "make" commands to manage database
  Makefile
  docs/developers/install.md
Due: none

chore: Add a missing database migration for domains
  app/migrations/Version20250912140155.php
  app/src/Entity/Domain.php
Due: app_build

chore: Decrease tests timeout to 15 seconds
  tests/tests.sh
Due: none

chore: Upgrade OpenDKIM container to Trixie
  opendkim/Dockerfile
Due: opendkim_build

fix: Order messages by date desc by default
  app/src/Controller/MessageController.php
Due: app_build

chore(amavis): Add ability to change number of Amavis processes
  .env.example
  CHANGELOG.md
  amavis/conf/amavis/amavisd.conf
  amavis/conf/amavis/amavisd_out.conf
  amavis/entrypoint.sh
  smtp/entrypoint.sh
  smtp/in/master.cf
  smtp/out/master.cf
Due: amavis_build, smtp_build

chore(app): Fix Office365Connector wording
  app/migrations/Version20250911094946.php
  app/src/Command/Office365ImportCommand.php
  app/src/Entity/Office365Connector.php
  app/src/Form/Office365ConnectorType.php
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

fix(ldap): Ignore invalid emails when importing ldap users
  app/src/Command/LDAPImportCommand.php
Due: app_build

fix(ldap): handle unmanaged domains on import
  app/src/Command/LDAPImportCommand.php
  app/src/Repository/DomainRepository.php
  app/src/Util/Email.php
Due: app_build

chore: Refactor getting of user email
  app/src/Command/ReportSendMailCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/Controller/MessageController.php
  app/src/Controller/Portal/MessagesController.php
  app/src/Controller/UserController.php
  app/src/Entity/User.php
  app/src/EventListener/SwitchUserSubscriber.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
  app/src/Repository/MsgrcptSearchRepository.php
  app/src/Security/LoginFormAuthenticator.php
  app/src/Twig/AppExtension.php
  app/templates/account/index.html.twig
  app/templates/groups/group_users.html.twig
  app/templates/message/show.html.twig
  app/templates/user/_impersonation_form.html.twig
  app/templates/user/indexAlias.html.twig
  app/templates/user/indexEmail.html.twig
Due: app_build

feat(ldap): Allow to import shared mailboxes from LDAP
  app/migrations/Version20250911122645.php
  app/src/Command/LDAPImportCommand.php
  app/src/Entity/LdapConnector.php
  app/src/Form/LdapConnectorType.php
  app/src/Util/Email.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
  docs/developers/ldap.md
Due: app_build

feat(ldap): Allow to attach imported users to group(s)
  app/migrations/Version20250915140131.php
  app/src/Command/LDAPImportCommand.php
  app/src/Controller/LdapConnectorController.php
  app/src/Entity/Connector.php
  app/src/Entity/Groups.php
  app/src/Form/LdapConnectorType.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

feat(ldap): Reorganize the LDAP form
  app/public/js/agentj.js
  app/src/Command/LDAPImportCommand.php
  app/templates/connector/_form_ldap.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

fix: Fix impersonation for users where username is not email
  app/templates/user/_impersonation_form.html.twig
Due: app_build

fix: List the aliases not having roles
  app/src/Controller/UserController.php
  app/src/Repository/UserRepository.php
Due: app_build

chore: Use user origin connector for LDAP authentication
  app/src/Service/LdapService.php
Due: app_build

fix: Fix user form when editing a admins
  app/templates/user/_form.html.twig
Due: app_build

fix: Display number of aliases created on Office365 import
  app/src/Command/Office365ImportCommand.php
Due: app_build

feat(oauth): Provide generic OAuth2 login
  .env.example
  CHANGELOG.md
  app/.env.example
  app/config/packages/knpu_oauth2_client.yaml
  app/config/packages/twig.yaml
  app/docker/entrypoint.sh
  app/src/Controller/OAuthController.php
  app/src/Security/OAuthAuthenticator.php
  app/templates/security/login.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
  docs/README.md
  docs/administrators/auth_azure.md
  docs/administrators/oauth2.md
  docs/developers/mail.md
Due: app_build

release: Publish version 2.2.3
  .env.example
  CHANGELOG.md
Due: none

release: Publish version 2.3.0
  .env.example
  CHANGELOG.md
Due: none

fix(impersonation): resolve back to user button not showing original user after session expiry
  app/src/Security/LoginFormAuthenticator.php
  app/src/Twig/AppExtension.php
  app/templates/header.html.twig
Due: app_build

style: fix trailing whitespace in LoginFormAuthenticator
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
