Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

dev: minimal compose for dev/debug
  docker-compose.dev.yml
Due: none

amavis: specify debian version
  amavis/Dockerfile
Due: amavis_build

Update doc
  .env.example
  README.md
Due: none

amavis: whitelist recipient at first send
  amavis/amavisd.patch
Due: amavis_build

test: wip
  docker-compose.dev.yml
  tests/Dockerfile
  tests/eicar.com.txt
  tests/smtpd.conf
  tests/sql/blocnormal_laissepasser.sql
  tests/testmail.sh
  tests/vmailtable
Due: none

tests: clean test script
  README.md
  dev.yml
  test.yml
  tests/Dockerfile
  tests/smtpd.conf
  tests/testmail.sh
  tests/vmailtable
Due: none

tests: wait stack start & more checks
  README.md
  test.yml
  tests/Dockerfile
  tests/testmail.sh
Due: none

dkim: wip opendkim container
  docker-compose.yml
  opendkim/Dockerfile
  opendkim/TrustedHosts
  opendkim/opendkim.conf
  smtp/conf/in/postfix/main.cf
  smtp/conf/out/postfix/main.cf
  smtp/conf/relay/postfix/main.cf
  tests/sql/blocnormal_laissepasser.sql
Due: smtp_build

dkim: pseudo working dkim container
  README.md
  dev.yml
  docker-compose.yml
  opendkim/Dockerfile
  opendkim/TrustedHosts
  opendkim/opendkim.conf
  tests/Dockerfile
  tests/dnsmasq.conf
  tests/sql/blocnormal_laissepasser.sql
  tests/sql/dkim_blocnormal_laissepasser.sql
  tests/testmail.sh
Due: none

dkim: wip
  app/docker/files/gendomainkey.sh
  docker-compose.yml
  opendkim/Dockerfile
  opendkim/TrustedHosts
  opendkim/opendkim.conf
  opendkim/stubdns
  test.yml
  tests/Dockerfile
  tests/dkim.priv
  tests/smtpd.conf
  tests/testmail.sh
Due: app_build

dkim: working test setup
  app/docker/files/gendomainkey.sh
  opendkim/Dockerfile
  opendkim/TrustedHosts
  opendkim/opendkim.conf
  test.yml
  tests/Dockerfile
  tests/dnsmasq.conf
  tests/opendkim.test.conf
  tests/smtpd.conf
  tests/stubdns
  tests/testmail.sh
Due: app_build

Docs/typo
  README.md
  tests/testmail.sh
Due: none

fix typo readme
  README.md
Due: none

dkim: add sf entity & php keys generations
  app/migrations/Version20240327095040.php
  app/src/Controller/DomainController.php
  app/src/Entity/Domain.php
  app/src/Entity/DomainKey.php
  app/src/Repository/DomainKeyRepository.php
  tests/sql/blocnormal_laissepasser.sql
Due: app_build

dkim: read db credentials from env
  docker-compose.yml
  opendkim/Dockerfile
  opendkim/entrypoint.sh
  opendkim/opendkim.conf
Due: none

dkim: remove opendkim from app / add trusted hosts
  app/Dockerfile
  app/config/services.yaml
  app/docker/conf/opendkim/opendkim.conf
  app/docker/conf/sudo/opendkim
  app/docker/conf/supervisor/supervisord.conf
  app/docker/entrypoint.sh
  app/docker/files/deldomainkey.sh
  app/docker/files/gendomainkey.sh
  docker-compose.yml
  opendkim/Dockerfile
  opendkim/TrustedHosts
  opendkim/entrypoint.sh
  opendkim/opendkim.conf
  tests/sql/dkim_blocnormal_laissepasser.sql
Due: app_build

dkim: fix trusted hosts / docs
  README.md
  opendkim/Dockerfile
  opendkim/TrustedHosts
Due: none

smtp: fix postmap for slow domains
  smtp/Dockerfile
  smtp/entrypoint.sh
Due: smtp_build

policyd-rate-limit: working setup
  app/config/packages/doctrine.yaml
  app/migrations/Version20240327151737.php
  app/src/Entity/SenderRateLimit.php
  app/src/Entity/User.php
  app/src/Repository/SenderRateLimitRepository.php
  docker-compose.yml
  policyd-rate-limit/Dockerfile
  policyd-rate-limit/policyd-rate-limit.yaml
  smtp/conf/out/postfix/main.cf
  tests/sql/blocnormal_laissepasser.sql
  tests/testmail.sh
Due: app_build, smtp_build

dkim: db info via env
  docker-compose.yml
  policyd-rate-limit/Dockerfile
  policyd-rate-limit/entrypoint.sh
  policyd-rate-limit/policyd-rate-limit.yaml
Due: none

policyd-rate-limit: tests
  app/src/Entity/User.php
  policyd-rate-limit/Dockerfile
  tests/testmail.sh
Due: app_build

doc & better test log
  README.md
  tests/testmail.sh
Due: none

fix amavis & policyd-rate-limit
  amavis/conf/amavis/amavisd_out.conf
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  policyd-rate-limit/Dockerfile
Due: amavis_build

tests: minimal dkim check
  tests/testmail.sh
Due: none

clean differents things about volume
  amavis/Dockerfile
  docker-compose.yml
  smtp/Dockerfile
Due: amavis_build, smtp_build

modify to make all container use DB_HOST
  amavis/conf/amavis/amavisd.conf
  amavis/conf/amavis/amavisd_out.conf
  amavis/entrypoint.sh
  app/docker/entrypoint.sh
  app/docker/files/.env
  smtp/conf/in/postfix/mysql-transport_map.cf
  smtp/conf/in/postfix/mysql-virtual_domains.cf
  smtp/conf/in/postfix/mysql-virtual_recipient_maps.cf
  smtp/conf/out/postfix/mysql-virtual_recipient_maps.cf
  smtp/entrypoint.sh
Due: app_build, amavis_build, smtp_build

Keep visible searched keyword after search
  app/templates/common/blocActionsAndSearch.html.twig
Due: app_build

Improve wblist search
  app/src/Repository/WblistRepository.php
Due: app_build

Avoid sending multiple time the authentification mail
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Repository/MsgsRepository.php
Due: app_build

Limit number of item in report to 10
  app/src/Command/ReportSendMailCommand.php
Due: app_build

Fix bug when sorting wblist by date
  app/templates/wb_list/index.html.twig
Due: app_build

Show deletion message on each message tabs
  app/templates/message/index.html.twig
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
