Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*

chore(app): Unregister residual service workers
  app/public/js/agentj.js
Due: app_build

feat(app): Added header for automatics mails to avoid spam box
  app/src/Command/ReportSendMailCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
Due: app_build

Update .env.example
  .env.example
Due: none

Update ReportSendMailCommand.php
  app/src/Command/ReportSendMailCommand.php
Due: app_build

feat(app): added more details to the imap connection errors' logs
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

chore(amavis): Decrease the dsn_cutoff level
  amavis/conf/amavis/amavisd.conf
Due: amavis_build

sec: Fix a SQL injection in advanced search
  app/src/Repository/MsgsRepository.php
Due: app_build

release: Publish version 2.1.6
  .env.example
  CHANGELOG.md
Due: none

chore(sql): Refactor the native SQL queries
  app/src/Controller/DefaultController.php
  app/src/Controller/DomainController.php
  app/src/Controller/GroupsController.php
  app/src/Controller/ImportController.php
  app/src/Controller/UserController.php
  app/src/Entity/User.php
  app/src/Form/GroupsType.php
  app/src/Repository/DomainRepository.php
  app/src/Repository/GroupsRepository.php
  app/src/Repository/LogRepository.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/UserRepository.php
  app/src/Repository/WblistRepository.php
Due: app_build

chore(app): Update the dependencies
  app/composer.json
  app/composer.lock
  app/package.json
  app/symfony.lock
  app/yarn.lock
Due: app_build

chore(app): Update the Symfony recipes
  app/config/packages/debug.yaml
  app/config/packages/dev/debug.yaml
  app/config/packages/dev/monolog.yaml
  app/config/packages/dev/web_profiler.yaml
  app/config/packages/doctrine.yaml
  app/config/packages/framework.yaml
  app/config/packages/monolog.yaml
  app/config/packages/prod/deprecations.yaml
  app/config/packages/prod/doctrine.yaml
  app/config/packages/prod/monolog.yaml
  app/config/packages/prod/routing.yaml
  app/config/packages/prod/sentry.yaml
  app/config/packages/prod/webpack_encore.yaml
  app/config/packages/routing.yaml
  app/config/packages/sentry.yaml
  app/config/packages/test/doctrine.yaml
  app/config/packages/test/framework.yaml
  app/config/packages/test/monolog.yaml
  app/config/packages/test/twig.yaml
  app/config/packages/test/validator.yaml
  app/config/packages/test/web_profiler.yaml
  app/config/packages/test/webpack_encore.yaml
  app/config/packages/twig.yaml
  app/config/packages/validator.yaml
  app/config/routes/dev/framework.yaml
  app/config/routes/dev/web_profiler.yaml
  app/config/routes/framework.yaml
  app/config/routes/security.yaml
  app/migrations/.gitignore
  app/src/Controller/.gitignore
  app/src/Entity/.gitignore
  app/src/Repository/.gitignore
  app/symfony.lock
  app/translations/.gitignore
Due: app_build

chore(app): Upgrade to @symfony/webpack-encore 5
  app/assets/css/app.css
  app/package.json
  app/yarn.lock
Due: app_build

release: Publish version 2.2.0
  .env.example
  CHANGELOG.md
Due: none

docs: Document the versioning policy
  docs/README.md
  docs/release.md
Due: none

fix: Don't prefetch links with Turbo
  app/templates/base.html.twig
  app/templates/base_security.html.twig
Due: app_build

release: Publish version 2.2.1
  .env.example
  CHANGELOG.md
Due: none

chore(app): Add SMTP_FROM env variable
  .env.example
  .github/workflows/tests.yml
  CHANGELOG.md
  app/.env.example
  app/config/packages/mailer.yaml
  app/config/services.yaml
  app/docker/entrypoint.sh
Due: app_build

feat(app): Add headers to emails generated and sent by AgentJ
  app/src/Command/ReportSendMailCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
Due: app_build

chore(app): Add more details to the IMAP connection errors' logs
  app/src/Security/LoginFormAuthenticator.php
Due: app_build

misc: Add template for knp sortable columns
  app/config/packages/paginator.yaml
  app/templates/common/_sortable_link.html.twig
Due: app_build

chore: Remove datatable from list users
  app/assets/controllers/mass_action_form_controller.js
  app/assets/styles/css/agentj.css
  app/config/packages/twig.yaml
  app/src/Controller/DefaultController.php
  app/src/Controller/UserController.php
  app/src/Repository/UserRepository.php
  app/templates/common/_rapidSearchForm.html.twig
  app/templates/user/indexEmail.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

chore: Remove datatable from list aliases
  app/src/Controller/UserController.php
  app/src/Repository/UserRepository.php
  app/templates/common/_per_page_selector.html.twig
  app/templates/user/_delete_form.html.twig
  app/templates/user/_impersonation_form.html.twig
  app/templates/user/_massive_action_form.html.twig
  app/templates/user/indexAlias.html.twig
  app/templates/user/indexEmail.html.twig
Due: app_build

fix: fix js erro on edit user admin
  app/templates/user/_form.html.twig
Due: app_build

chore: reorganize templates
  app/templates/common/_batchActionsAndSearch.html.twig
  app/templates/common/_batchActionsForm.html.twig
  app/templates/common/_rapidSearchForm.html.twig
  app/templates/user/_massive_action_form.html.twig
  app/templates/user/indexAlias.html.twig
  app/templates/user/indexEmail.html.twig
  app/templates/user/indexLocal.html.twig
Due: app_build

chore: Remove datatable from admin users
  app/src/Controller/UserController.php
  app/src/Repository/UserRepository.php
  app/templates/user/indexLocal.html.twig
Due: app_build

dev: Update alert table user FK onDelete constraint
  app/migrations/Version20250826085029.php
  app/src/Entity/Alert.php
Due: app_build

dev: Add fixtures for aliases and administrators
  app/src/DataFixtures/AliasFixture.php
  app/src/DataFixtures/UserAdminFixture.php
Due: app_build

chore(ldap): Provide a LDAP server in development mode
  compose.dev.yml
  docs/README.md
  ldap/tree.ldif
Due: none

chore(app): Upgrade to PHPImap 6.2
  app/composer.json
  app/composer.lock
Due: app_build

chore: Remove datatable from domains
  app/src/Controller/DomainController.php
  app/src/DataFixtures/DomainFixture.php
  app/src/Entity/User.php
  app/src/Repository/DomainRepository.php
  app/templates/domain/index.html.twig
Due: app_build

chore(app): Build absolute URLs with urlGenerator
  .env.example
  .github/workflows/tests.yml
  CHANGELOG.md
  Makefile
  app/.env.example
  app/config/packages/routing.yaml
  app/config/services.yaml
  app/docker/entrypoint.sh
  app/src/Command/ReportSendMailCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/templates/report/table_mail_msgs.html.twig
  docs/dev_mail.md
  tests/tests.sh
Due: app_build
