Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

Update .gitlab-ci.yml file pour créer l'image web
  .gitlab-ci.yml
Due: none

Revert "Update .gitlab-ci.yml file pour créer l'image web"
  .gitlab-ci.yml
Due: none

Build prod images on gitlab.probesys.com
  .gitlab-ci.yml
Due: none

app: opendkim fix rights and add sudo perms
  app/docker/conf/opendkim/gendomainkey.sh
  app/docker/entrypoint.sh
Due: app_build

app: make sure opendkim keys dir does not exist
  app/docker/entrypoint.sh
Due: app_build

change opendkim call. Add dmim on domain edition
  app/config/services.yaml
  app/docker/files/.env
  app/src/Controller/DomainController.php
Due: app_build

fix output display from opendkim display
  app/src/Controller/DomainController.php
Due: app_build

dkim: use custom selector
  app/docker/conf/opendkim/gendomainkey.sh
Due: app_build

app: fix duplicate sudoers entry
  app/docker/entrypoint.sh
Due: app_build

attach opendkim volume to app container
  docker-compose.yml
Due: none

dkim: add missing line at end of file
  app/docker/conf/opendkim/TrustedHosts
Due: app_build

dkim: use full path in script
  app/docker/conf/opendkim/gendomainkey.sh
  app/docker/files/.env
Due: app_build

dkim: do not generate conf for the domain defined in .env file
  app/docker/conf/opendkim/KeyTable
  app/docker/conf/opendkim/SigningTable
  app/docker/conf/opendkim/gendomainkey.sh
  app/docker/conf/opendkim/opendkim.conf
  app/docker/entrypoint.sh
  docker-compose.yml
Due: app_build

amavis: launch crond
  amavis/entrypoint.sh
Due: amavis_build

addes local fonts and fixe lang selector font
  app/package.json
  app/public/css/styles.css
  app/public/css/styles.css.map
  app/public/fonts/poppins-v19-latin-100.eot
  app/public/fonts/poppins-v19-latin-100.svg
  app/public/fonts/poppins-v19-latin-100.ttf
  app/public/fonts/poppins-v19-latin-100.woff
  app/public/fonts/poppins-v19-latin-100.woff2
  app/public/fonts/poppins-v19-latin-500.eot
  app/public/fonts/poppins-v19-latin-500.svg
  app/public/fonts/poppins-v19-latin-500.ttf
  app/public/fonts/poppins-v19-latin-500.woff
  app/public/fonts/poppins-v19-latin-500.woff2
  app/public/fonts/poppins-v19-latin-500italic.eot
  app/public/fonts/poppins-v19-latin-500italic.svg
  app/public/fonts/poppins-v19-latin-500italic.ttf
  app/public/fonts/poppins-v19-latin-500italic.woff
  app/public/fonts/poppins-v19-latin-500italic.woff2
  app/public/fonts/poppins-v19-latin-italic.eot
  app/public/fonts/poppins-v19-latin-italic.svg
  app/public/fonts/poppins-v19-latin-italic.ttf
  app/public/fonts/poppins-v19-latin-italic.woff
  app/public/fonts/poppins-v19-latin-italic.woff2
  app/public/fonts/poppins-v19-latin-regular.eot
  app/public/fonts/poppins-v19-latin-regular.svg
  app/public/fonts/poppins-v19-latin-regular.ttf
  app/public/fonts/poppins-v19-latin-regular.woff
  app/public/fonts/poppins-v19-latin-regular.woff2
  app/public/scss/styles.scss
  app/templates/base.html.twig
  app/templates/base_security.html.twig
  app/yarn.lock
Due: app_build

fix 'Agent J' to 'AgentJ'
  app/templates/home/index.html.twig
Due: app_build

[amavis] Launch crond in entrypoint.sh
  amavis/entrypoint.sh
Due: amavis_build

Prepare 1.3.1.
  app/docker/files/.env
Due: app_build

syslogng: do not use 514/UDP port on host
  docker-compose.yml
Due: none

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
