Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp: no soft_bounce to prevent possible backscatter
  smtp/conf/postfix/main.cf
Due: smtp_build

smtp: attempt to fix dns resolution of dirty mail servers NS
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
Due: smtp_build

relay: attempt to fix dns resolution of dirty mail servers NS
  relay/Dockerfile
  relay/conf/postfix/main.cf
Due: relay_build

clamav: prevent concurrent DB loading
  amavis/conf/clamav/clamd.conf
Due: amavis_build

use COMPOSE_PROJECT_NAME in bridge name
  docker-compose.yml
Due: none

use base .env.example
  .env.example
  .gitignore
Due: none

mariadb: specify explicit version instead of latest tag
  docker-compose.yml
Due: none

compose: specify agentj images version instead of latest tag
  docker-compose.yml
Due: none

smtp: use debian-slim base
  smtp/Dockerfile
Due: smtp_build

smtp: use debian slim base
  smtp/Dockerfile
Due: smtp_build

smtp: fix shell command for debian-slim base
  smtp/Dockerfile
Due: smtp_build

smtp: reduce postfix compat level for debian
  smtp/conf/postfix/main.cf
Due: smtp_build

do not set bridge name
  docker-compose.yml
Due: none

use --no-cache switch in alpine images
  amavis/Dockerfile
  app/Dockerfile
  relay/Dockerfile
  syslogng/Dockerfile
Due: app_build, amavis_build, relay_build, syslogng_build

limit amavis container memory
  docker-compose.yml
Due: none

Fix superadmin credentials
  README.md
Due: none

amavis: use dedicated file for cron
  amavis/Dockerfile
  amavis/conf/cron/agentj-amavis
  amavis/entrypoint.sh
Due: amavis_build

app: use dedicated file for cron
  app/Dockerfile
  app/docker/conf/cron/agentj
  app/docker/entrypoint.sh
Due: app_build

syslogng: use dedicated file for cron
  syslogng/Dockerfile
  syslogng/conf/cron/syslogng-rotate
  syslogng/entrypoint.sh
Due: syslogng_build

fix trailing space
  docker-compose.yml
Due: none

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
