Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*

Apply last fixes to documentation
  README.md
  docs/readme.md
Due: none

docs: Merge the old documentation in this repo (#126)
  CHANGELOG
  CHANGELOG.md
  README.md
  docker-compose.yml
  docs/auth_azure.md
  docs/readme.md
Due: none

fix(app): Require the name in the policy form
  app/src/Controller/PolicyController.php
  app/src/Entity/Policy.php
Due: app_build

refactor(app): Extract a MessageService
  app/phpstan-baseline.neon
  app/src/Controller/DefaultController.php
  app/src/Controller/MessageController.php
  app/src/Entity/Msgs.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/MsgsRepository.php
  app/src/Service/LogService.php
  app/src/Service/MessageService.php
Due: app_build

feat(app): Allow actions from report if not logged in
  app/config/packages/security.yaml
  app/src/Command/ReportSendMailCommand.php
  app/src/Controller/Portal/MessagesController.php
  app/src/Service/CryptEncryptService.php
  app/templates/report/table_mail_msgs.html.twig
Due: app_build

fix(security): encrypt and decrypt validity time
  app/phpstan-baseline.neon
  app/src/Command/ReportSendMailCommand.php
  app/src/Controller/DefaultController.php
  app/src/Controller/Portal/MessagesController.php
  app/src/Service/CryptEncryptService.php
Due: app_build

tests: use mailpit API
  app/Dockerfile.dev
  app/docker/tests/testmail.sh
  compose.test.yml
  tests/smtpd.conf
Due: app_build

tests: quick fix
  app/docker/tests/testmail.sh
Due: app_build

wip: add mailpit
  .gitignore
  compose.dev.yml
  compose.test.yml
  tests/smtpd.conf
Due: none

tests: clean
  app/docker/tests/testmail.sh
Due: app_build

tests: only use mailpit api
  app/Dockerfile.dev
  app/docker/tests/testmail.sh
  compose.test.yml
Due: app_build

Finish mailpit integration in tests + extend rate limit delay
  .env.example
  .github/workflows/tests.yml
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  app/src/DataFixtures/GroupsFixture.php
  app/src/DataFixtures/UserFixture.php
  compose.dev.yml
Due: app_build

merge compose.*.yml
  app/docker/tests/testmail.sh
  compose.dev.yml
  compose.test.yml
Due: app_build

doc + fix merge of compose files
  .env.example
  .github/workflows/tests.yml
  app/docker/tests/testmail.sh
  compose.dev.yml
  docs/readme.md
  tests/README
  tests/readme.md
Due: app_build

ci: use curl
  app/Dockerfile.dev
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  app/src/DataFixtures/GroupsFixture.php
  app/src/DataFixtures/UserFixture.php
  compose.dev.yml
Due: app_build

tests: use env for mailpit port
  app/docker/tests/testmail.sh
Due: app_build

Fix from reviews
  .env.example
  .github/workflows/tests.yml
  app/Dockerfile.dev
  app/docker/tests/testmail.sh
  compose.dev.yml
Due: app_build

tests: "new" tests seems slower
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  app/src/DataFixtures/GroupsFixture.php
  app/src/DataFixtures/UserFixture.php
Due: app_build

doc: send/receive mail in dev setup
  docs/dev_mail.md
  docs/readme.md
  scripts/mail_from_agentj.sh
  scripts/mail_to_agentj.sh
Due: none

Fix from review
  docs/dev_mail.md
  scripts/mail_from_agentj.sh
  scripts/mail_to_agentj.sh
Due: none

chore(docker): add mailpit (#127)
  .env.example
  .github/workflows/tests.yml
  .gitignore
  app/Dockerfile.dev
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  app/src/DataFixtures/GroupsFixture.php
  app/src/DataFixtures/UserFixture.php
  compose.dev.yml
  compose.test.yml
  docs/dev_mail.md
  docs/readme.md
  scripts/mail_from_agentj.sh
  scripts/mail_to_agentj.sh
  tests/README
  tests/readme.md
  tests/smtpd.conf
Due: app_build

chore(yarn): Update the dependencies
  app/yarn.lock
Due: app_build

chore(composer): Upgrade to knp-paginator-bundle 6.6
  app/composer.json
  app/composer.lock
Due: app_build

chore(composer): Update the dependencies
  app/composer.lock
Due: app_build

policyd-rate-limit: hold over quota mail
  policyd-rate-limit/policyd-rate-limit.yaml
Due: policyd-rate-limit_build

feat(app): Allow actions from report if not logged in
  app/config/packages/security.yaml
  app/src/Command/ReportSendMailCommand.php
  app/src/Controller/Portal/MessagesController.php
  app/src/Service/CryptEncryptService.php
  app/templates/portal/messages/authorized.html.twig
  app/templates/portal/messages/restore.html.twig
  app/templates/report/table_mail_msgs.html.twig
Due: app_build

chore(policyd-rate-limit): hold over quota mail (#149)
  policyd-rate-limit/policyd-rate-limit.yaml
Due: policyd-rate-limit_build

chore(ci): Remove the Gitlab CI file
  .gitlab-ci.yml
Due: none

fix: added scope for dashboard local admin and handle local admin without domains
  app/src/Controller/DefaultController.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/UserRepository.php
Due: app_build

fix: added domain scope for alert for local admin
  app/src/MessageHandler/CreateAlertMessageHandler.php
Due: app_build
