Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

amavis: change patch to reflect split of amavisd
  amavis/amavisd_conf.patch
  amavis/amavisd_out_sql_log.patch
Due: amavis_build

amavis: use debian base in Dockerfile
  amavis/Dockerfile
Due: amavis_build

amavis: remove old monolithic patch
  amavis/amavisd.patch
Due: amavis_build

amavis: use cron instead of alpine's crond
  amavis/entrypoint.sh
  relay/entrypoint.sh
Due: amavis_build, relay_build

syslog-ng: use debian base
  syslogng/Dockerfile
Due: syslogng_build

syslog-ng: use cron in entrypoint instead of alpine's crond
  syslogng/entrypoint.sh
Due: syslogng_build

syslog-ng: update version in conf file
  syslogng/conf/syslog-ng.conf
Due: syslogng_build

syslog-ng: use only UDP network listener
  syslogng/Dockerfile
  syslogng/conf/syslog-ng.conf
Due: syslogng_build

app: use debian base, adapt settings to it
  app/Dockerfile
  app/docker/entrypoint.sh
Due: app_build

Minimal changes for a proper migration/orm setup
  app/config/packages/doctrine.yaml
  app/migrations/Version20240223155415.php
  app/src/Entity/Msgs.php
  app/src/Entity/User.php
  smtp/entrypoint.sh
Due: app_build, smtp_build

amavis: add missing spamd
  amavis/Dockerfile
Due: amavis_build

amavis: adapt conf to debian base
  amavis/conf/amavis/amavisd.conf
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
Due: amavis_build

app: fix fpm command path in supervisor config
  app/docker/conf/supervisor/supervisord.conf
Due: app_build

smtp: remove directories absent from debian install
  smtp/entrypoint.sh
Due: smtp_build

Fix relay conf, retour à MAIL_DOMAINNAME
  relay/entrypoint.sh
  smtp/conf/relay/postfix/main.cf
  smtp/entrypoint.sh
Due: relay_build, smtp_build

Fix merge: clamd sortant n'était pas activé
  amavis/conf/amavis/amavisd_out.conf
  amavis/entrypoint.sh
Due: amavis_build

Fix last migration
  app/migrations/Version20240223155415.php
Due: app_build

Duplicate in/out entities ?
  app/config/packages/doctrine.yaml
  app/src/Entity/OutMsgrcpt.php
  app/src/Entity/OutMsgs.php
  app/src/Entity/OutQuarantine.php
  app/src/Entity/OutWblist.php
Due: app_build

Relay is juste another smpt
  .gitlab-ci.yml
Due: none

app: fix nginx paths
  app/Dockerfile
  app/docker/conf/supervisor/supervisord.conf
  smtp/conf/in/postfix-policyd-spf-python/policyd-spf.conf
Due: app_build, smtp_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
