Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*

update build tag for prod
  .gitlab-ci.yml
Due: none

fix csv import emails
  app/config/services.yaml
  app/public/files/upload/1200px-Hammer_and_sickle_red_on_transparent.svg
  app/src/Controller/ImportController.php
  app/src/Controller/Traits/ControllerCommonTrait.php
Due: app_build

ci: update prod project tag
  .gitlab-ci.yml
Due: none

bump app version
  app/docker/files/.env
Due: app_build

ci: improve tag management in prod
  .gitlab-ci.yml
Due: none

app: remove duplicate cron entries
  app/docker/entrypoint.sh
Due: app_build

version 1.2.2
  app/docker/files/.env
Due: app_build

fix duplicate cron entries
  app/docker/entrypoint.sh
  app/docker/files/.env
Due: app_build

syslogng: improve log format, add rotation cron
  syslogng/Dockerfile
  syslogng/conf/syslog-ng.conf
  syslogng/entrypoint.sh
Due: syslogng_build

amavis: update clamav run dir
  amavis/Dockerfile
  amavis/conf/amavis/amavisd.conf
  amavis/conf/clamav/clamd.conf
  amavis/conf/supervisor/supervisord.conf
Due: amavis_build

clamav: improve start process, move it to entrypoint
  amavis/Dockerfile
  amavis/entrypoint.sh
Due: amavis_build

syslogng: prod cron interval
  syslogng/entrypoint.sh
Due: syslogng_build

smtp: add postfix config volume
  docker-compose.yml
  smtp/Dockerfile
Due: smtp_build

resize backgound image on homepage
  app/public/img/fond-login-agent-j.png
Due: app_build

app: update version to 1.2.3
  app/docker/files/.env
Due: app_build

remove obsolete entries from env file
  .env
Due: none

app: version 1.2.3
  app/docker/files/.env
Due: app_build
