Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

.gitlab-ci.yml:

---

# -*- coding: utf-8 -*-
image: docker:latest

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"
  DOCKER_IMAGE_TAG: $CI_PIPELINE_ID

services:
  - docker:dind

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - node_modules/
    - vendor/

stages:
  - build
  - deploy

before_script:
  - docker login --username $HUB_USER -p $HUB_TOKEN
  - docker pull $REGISTRY/app || true
  - docker pull $REGISTRY/web || true
  - docker pull $REGISTRY/smtp || true
  - docker pull $REGISTRY/relay || true
  - docker pull $REGISTRY/amavis || true
  - docker pull $REGISTRY/syslogng || true
  - |-
        if [[ $CI_COMMIT_BRANCH == "master" ]] ; then
            TAG="latest"
        else
            TAG=$CI_COMMIT_BRANCH
        fi
        echo $TAG

app_build:
  stage: build
  variables:
    IMG: app
  script:
    - cd $CI_PROJECT_DIR/$IMG && docker build -t $REGISTRY/agentj_$IMG .
    - docker push $REGISTRY/agentj_$IMG:$TAG
  only:
    changes:
      - app/*
      - app/**/*

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
    - cd $CI_PROJECT_DIR/$IMG && docker build -t $REGISTRY/agentj_$IMG .
    - docker push $REGISTRY/agentj_$IMG:$TAG
  only:
    changes:
      - amavis/*
      - amavis/**/*

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
    - cd $CI_PROJECT_DIR/$IMG && docker build -t $REGISTRY/agentj_$IMG .
    - docker push $REGISTRY/agentj_$IMG:$TAG
  only:
    changes:
      - relay/*
      - relay/**/*

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
    - cd $CI_PROJECT_DIR/$IMG && docker build -t $REGISTRY/agentj_$IMG .
    - docker push $REGISTRY/agentj_$IMG:$TAG
  only:
    changes:
      - smtp/*
      - smtp/**/*

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
    - cd $CI_PROJECT_DIR/$IMG && docker build -t $REGISTRY/agentj_$IMG:$TAG .
    - docker push $REGISTRY/agentj_$IMG:$TAG
  only:
    changes:
      - syslogng/*
      - syslogng/**/*

web_build:
  stage: build
  variables:
    IMG: web
  script:
    - cd $CI_PROJECT_DIR/$IMG && docker build -t $REGISTRY/agentj_$IMG .
    - docker push $REGISTRY/agentj_$IMG:$TAG
  only:
    changes:
      - web/*
      - web/**/*

deploy-dev:
  stage: deploy
  cache: {}
  environment:
    name: dev
  variables:
    DEPLOY_USER: docker
    DOCKER_IMAGE_TAG: latest
  before_script:
    - apk add --no-cache rsync
  script:
    - mkdir ~/.ssh && ssh-keyscan $DEPLOY_HOST >> ~/.ssh/known_hosts && chmod 700 ~/.ssh
    - echo "$SSH_CONFIG" > ~/.ssh/config && chmod 400 ~/.ssh/config
    - echo "$SSH_PRIVATE_KEY" > ~/.ssh/id_rsa && chmod 400 ~/.ssh/id_rsa
    - export DOCKER_HOST="ssh://${DEPLOY_USER:-$USER}@${DEPLOY_HOST:-$1}"
    - rsync -arv ./ $DEPLOY_USER@$DEPLOY_HOST:/home/$DEPLOY_USER/agentj-docker/
    - ssh $DEPLOY_USER@$DEPLOY_HOST -C "cd /home/$DEPLOY_USER/agentj-docker/ && docker-compose down"
    - docker image rm $(docker image ls -q -f reference=*/*agentj_*) || true
    - docker volume rm agentj-docker_public || true
    - ssh $DEPLOY_USER@$DEPLOY_HOST -C "cd /home/$DEPLOY_USER/agentj-docker/ && docker-compose up -d"
  except:
    refs:
      - master

bump version to 1.0.6
  .gitlab-ci.yml
  app/docker/files/.env
  app/src/Command/TestSendMailCommand.php
  app/src/Command/TestSendMailTokenCommand.php
  app/src/Controller/MessageController.php
  app/src/Controller/WblistController.php
  app/templates/account/index.html.twig
Due: app_build

Improve deployment
  .gitlab-ci.yml
  amavis/Dockerfile
  amavis/entrypoint.sh
  app/.github/workflows/php.yml
  docker-compose.yml
Due: app_build, amavis_build

fixes #73
  app/src/Controller/MessageController.php
  app/templates/report/table_mail_msgs.html.twig
Due: app_build

fixes #74
  app/setup/agentj.sql
Due: app_build

change loading translation
  app/templates/base.html.twig
Due: app_build

env: add tokens
  .gitlab-ci.yml
Due: none

env: add tokens
  .env
  .gitlab-ci.yml
Due: none

update MessageController from fix73
  app/src/Controller/MessageController.php
Due: app_build

improve dbinit process
  app/docker/db_init.sh
  app/docker/entrypoint.sh
Due: app_build

smtp: fix missing comas
  smtp/conf/postfix/main.cf
Due: smtp_build

fix smtp typo and banner
  .gitlab-ci.yml
  smtp/conf/postfix/main.cf
Due: smtp_build

fixes #79
  app/templates/report/table_mail_msgs.html.twig
Due: app_build

fix bug banned mail not released when authorized
  app/src/Repository/MsgsRepository.php
  app/templates/base.html.twig
Due: app_build

Merge alpine version into master
  .gitlab-ci.yml
  amavis/Dockerfile
  amavis/amavisd.patch
  amavis/conf/amavis/amavisd.conf
  amavis/conf/clamav/clamd.conf
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  amavis/healthcheck.sh
  app/Dockerfile
  app/docker/conf/supervisord.conf
  app/docker/conf/www.conf
  app/docker/db_init.sh
  app/docker/entrypoint.sh
  app/docker/files/.env
  app/src/Repository/MsgsRepository.php
  app/templates/base.html.twig
  docker-compose.yml
  relay/Dockerfile
  relay/conf/supervisor/supervisord.conf
  relay/entrypoint.sh
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
  smtp/conf/supervisor/supervisord.conf
  smtp/entrypoint.sh
  web/conf/nginx.conf
Due: app_build, amavis_build, relay_build, smtp_build, web_build

ci: change registry path
  .gitlab-ci.yml
Due: none

ci: fix sed
  .gitlab-ci.yml
Due: none

ci: debug variable interpretation
  .gitlab-ci.yml
Due: none

ci: debug
  .gitlab-ci.yml
Due: none
