Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*

update partial quota_limit
  app/templates/partials/_quota_form.html.twig
  app/templates/user/_form.html.twig
Due: app_build

update partial quota_limit
  app/src/Form/DomainType.php
  app/templates/partials/_quota_form.html.twig
  app/templates/user/_form.html.twig
Due: app_build

les trois formulaires fonctionne
  app/migrations/Version20240726102744.php
  app/src/Entity/Domain.php
  app/src/Form/DomainType.php
Due: app_build

all good for all objetcs and deleted from user/local
  app/src/Controller/UserController.php
  app/src/Form/UserType.php
  app/templates/user/_form.html.twig
Due: app_build

creation de la page de recherche et de filtres
  .idea/.gitignore
  .idea/agentj-docker.iml
  .idea/dataSources.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/jsLinters/jshint.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/php.xml
  .idea/vcs.xml
  .vscode/launch.json
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/src/Repository/MsgsRepository.php
  app/templates/header.html.twig
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
Due: app_build

fix form
  app/templates/user/_form.html.twig
  app/translations/messages.fr.yml
Due: app_build

Update translations
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

all good for every objects. Need to change the interface style
  app/src/Form/QuotaType.php
  app/templates/partials/_quota_form.html.twig
  app/templates/user/_form.html.twig
  app/translations/messages.fr.yml
Due: app_build

fix 308
  app/assets/controllers/add_ip_address_controller.js
  app/src/Form/DomainRelayType.php
  app/src/Form/DomainType.php
  app/templates/domain/_form.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

Update entrypoint
  app/docker/entrypoint.sh
  compose.dev.yml
Due: app_build

tenta modif style
  app/templates/forms/form_layout.html.twig
  app/templates/groups/_form.html.twig
Due: app_build

ajout des messages envoié
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/src/Repository/MsgsRepository.php
  app/templates/search/advanced_search.html.twig
Due: app_build

v1 ok en attendant les alertes des quotas
  app/public/js/agentj.js
  app/public/lib/DataTables/css/jquery.dataTables.css
  app/src/Controller/DefaultController.php
  app/src/Controller/MessageController.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/UserRepository.php
  app/templates/home/_latest_messages.html.twig
  app/templates/home/_stats_table.html.twig
  app/templates/home/index.html.twig
  app/templates/home/messages_stats.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
  compose.dev.yml
Due: app_build

fix 308
  app/assets/controllers/add_ip_address_controller.js
  app/templates/domain/_form.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

attente des quotas
  app/templates/home/index.html.twig
  tests/testmail.sh
Due: app_build

wip message out
  app/templates/home/_latest_messages.html.twig
Due: app_build

in/out marche
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
Due: app_build

added filters to the search
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
Due: app_build

tmp
  app/templates/forms/form_layout.html.twig
Due: app_build

update
  app/assets/controllers/quota_controller.js
  app/templates/forms/form_layout.html.twig
  app/templates/partials/_quota_form.html.twig
Due: app_build

test quotas
  app/src/Controller/UserController.php
  app/templates/user/_form.html.twig
  policyd-rate-limit/policyd-rate-limit.yaml
  tests/testmail.sh
Due: app_build

outsmtp: allow only registered smtp to use relay
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-authorized-senders-host.cf
Due: smtp_build

Fix gitlab CI build
  .gitlab-ci.yml
  app/Dockerfile
  app/docker/entrypoint.sh
  docker-compose.yml
Due: app_build

Fix gitlab CI build
  .gitlab-ci.yml
Due: none

Fix gitlab CI mass build
  .gitlab-ci.yml
Due: none

Use image url
  app/README.md
  docker-compose.yml
Due: app_build

Fix outamavis container image url
  app/docker/entrypoint.sh
  docker-compose.yml
Due: app_build

update request for quota
  compose.test.yml
  policyd-rate-limit/policyd-rate-limit.yaml
  tests/Dockerfile
  tests/fasttest_mail.sh
  tests/testmail.sh
Due: none

Fix composer generation of autoload_runtime.php
  app/Dockerfile
  app/docker/entrypoint.sh
  docker-compose.yml
Due: app_build

fix 318
  app/assets/controllers/add_ip_address_controller.js
  app/src/Entity/Domain.php
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

wip
  docker-compose.yml
  policyd-rate-limit/policyd-rate-limit.yaml
  tests/Dockerfile
  tests/fasttest_mail.sh
Due: none

Tests from app, fixtures
  .env.example
  .gitlab-ci.yml
  amavis/Dockerfile
  app/Dockerfile.dev
  app/composer.json
  app/composer.lock
  app/docker/tests/eicar.com.txt
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  app/src/DataFixtures/UserFixture.php
  compose.test.yml
  policyd-rate-limit/Dockerfile
  policyd-rate-limit/policyd-rate-limit.yaml
  tests/.gitignore
  tests/Dockerfile
  tests/README
  tests/dnsmasq.conf
  tests/smtpd.conf
  tests/sql/blocnormal_laissepasser.sql
  tests/stubdns
  tests/testmail.sh
  tests/users.csv
Due: app_build, amavis_build

Update README
  .env.example
  README.md
Due: none

Update README
  README.md
Due: none

wip erreur inconnue
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  compose.dev.yml
  compose.test.yml
  policyd-rate-limit/policyd-rate-limit.yaml
  tests/fasttest_mail.sh
Due: app_build

added filters to search
  .idea/dataSources.xml
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/src/Repository/MsgsRepository.php
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
  app/translations/messages.fr.yml
Due: app_build
