Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, opendkim_build, relay_build, smtp_build, syslogng_build, web_build

.gitlab-ci.yml:

---

# -*- coding: utf-8 -*-
image: docker:latest

variables:
  DOCKER_DRIVER: overlay2
  DOCKER_TLS_CERTDIR: "/certs"

services:
  - docker:dind

stages:
  - build

################################################################################
## BUILD AND PUSH
################################################################################
# Images build are pushed on hub.probesys.com

app_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/app && docker build -t hub.probesys.com/agentj_app .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_app:latest
  only:
    refs:
      - master
    changes:
      - app/*
      - app/**/*

amavis_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/amavis && docker build -t hub.probesys.com/agentj_amavis .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_amavis:latest
  only:
    refs:
      - master
    changes:
      - amavis/*
      - amavis/**/*

opendkim_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/opendkim && docker build -t hub.probesys.com/agentj_opendkim .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_opendkim:latest
  only:
    refs:
      - master
    changes:
      - opendkim/*
      - opendkim/**/*

relay_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/relay && docker build -t hub.probesys.com/agentj_relay .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_relay:latest
  only:
    refs:
      - master
    changes:
      - relay/*
      - relay/**/*

smtp_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/smtp && docker build -t hub.probesys.com/agentj_smtp .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_smtp:latest
  only:
    refs:
      - master
    changes:
      - smtp/*
      - smtp/**/*

syslogng_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/syslogng && docker build -t hub.probesys.com/agentj_syslogng .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_syslogng:latest
  only:
    refs:
      - master
    changes:
      - syslogng/*
      - syslogng/**/*

web_build:
  stage: build
  script:
   - cd $CI_PROJECT_DIR/web && docker build -t hub.probesys.com/agentj_web .
   - echo "$P6HUB_PASSWORD" | docker login -u "$P6HUB_USER" --password-stdin hub.probesys.com
   - docker push hub.probesys.com/agentj_web:latest
  only:
    refs:
      - master
    changes:
      - web/*
      - web/**/*

Initial commit
  .env
  .gitlab-ci.yml
  CHANGELOG
  LICENSE
  README.md
  amavis/Dockerfile
  amavis/conf/amavis/50-user
  amavis/conf/clamav/clamd.conf
  amavis/conf/supervisor/supervisord.conf
  amavis/entrypoint.sh
  amavis/healthcheck.sh
  app/Dockerfile
  app/conf/supervisord.conf
  app/conf/www.conf
  app/db_init.sh
  app/entrypoint.sh
  app/files/.env
  app/files/amavisd-release
  docker-compose.yml
  relay/Dockerfile
  relay/conf/opendkim/KeyTable
  relay/conf/opendkim/SigningTable
  relay/conf/opendkim/TrustedHosts
  relay/conf/opendkim/opendkim.conf
  relay/conf/postfix/main.cf
  relay/conf/postfix/master.cf
  relay/conf/supervisor/supervisord.conf
  relay/entrypoint.sh
  smtp/Dockerfile
  smtp/conf/postfix/main.cf
  smtp/conf/postfix/master.cf
  smtp/conf/postfix/mysql-transport_map.cf
  smtp/conf/postfix/mysql-virtual_domains.cf
  smtp/conf/postfix/mysql-virtual_recipient_maps.cf
  smtp/conf/supervisor/supervisord.conf
  smtp/entrypoint.sh
  syslogng/Dockerfile
  syslogng/conf/syslog-ng.conf
  web/Dockerfile
  web/conf/nginx.conf
Due: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

update ci
  .gitlab-ci.yml
Due: none

ci: add docker-compose
  .gitlab-ci.yml
Due: none

update repo path in app Dockerfile
  app/Dockerfile
Due: app_build

add token encryption iv and salt
  app/entrypoint.sh
  app/files/.env
Due: app_build

add token encryption iv and salt (#3)
  app/entrypoint.sh
  app/files/.env
Due: app_build

add openssl for token
  .gitlab-ci.yml
  app/Dockerfile
Due: app_build

Master (#4)
  .gitlab-ci.yml
  app/Dockerfile
Due: app_build

Steup ci
  .gitlab-ci.yml
  app/Dockerfile
  docker-compose.yml
Due: app_build

Steup ci
  .env
  .gitlab-ci.yml
  app/Dockerfile
  docker-compose.yml
Due: app_build

update readme
  README.md
Due: none

Master (#5)
  .env
  .gitlab-ci.yml
  README.md
  app/Dockerfile
  docker-compose.yml
Due: app_build

add recipient delimiter configuration for postfix and amavis
  amavis/conf/amavis/50-user
  smtp/conf/postfix/main.cf
Due: amavis_build, smtp_build

fix double entry for recipient_delimiter
  smtp/conf/postfix/main.cf
Due: smtp_build

bump to version 1.0.5: fix shared mailboxes access
  app/files/.env
Due: app_build

app: IV must be 16 bytes long
  app/entrypoint.sh
Due: app_build

Fix obsolete postfix conf variable
  relay/conf/postfix/main.cf
  smtp/conf/postfix/main.cf
Due: relay_build, smtp_build

Fix postfix smtpd_client_restrictions variable containing smtpd_sender_restrictions values
  smtp/conf/postfix/main.cf
Due: smtp_build

update docker images repo
  docker-compose.yml
Due: none

app: update to last version
  app/src/Command/TestSendMailCommand.php
  app/src/Command/TestSendMailTokenCommand.php
  app/src/Controller/MessageController.php
Due: app_build

bump version to 1.0.6
  .gitlab-ci.yml
  app/docker/files/.env
  app/src/Command/TestSendMailCommand.php
  app/src/Command/TestSendMailTokenCommand.php
  app/src/Controller/MessageController.php
  app/src/Controller/WblistController.php
  app/templates/account/index.html.twig
Due: app_build
