Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

relay_build:
  stage: build
  variables:
    IMG: relay
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

web_build:
  stage: build
  variables:
    IMG: web
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

Added range for amavis score
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
Due: app_build

fix 312
  app/src/Controller/UserController.php
Due: app_build

fix plantage aussi sur alias
  app/src/Controller/UserController.php
Due: app_build

Added order column
  app/src/Controller/SearchController.php
  app/templates/message/out_show.html.twig
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
Due: app_build

quota sql query done for polycidratelimit yaml and for the fixture
  app/docker/tests/testmail.sh
  app/src/DataFixtures/DomainFixture.php
  compose.test.yml
  policyd-rate-limit/policyd-rate-limit.yaml
  tests/fasttest_mail.sh
Due: app_build

delete useless stuffs
  policyd-rate-limit/policyd-rate-limit.yaml
  tests/testmail.sh
Due: none

wip
  app/src/Controller/DefaultController.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/UserRepository.php
  app/templates/home/_alerts.html.twig
  policyd-rate-limit/policyd-rate-limit.yaml
Due: app_build

début création alerte, manque migration qui bug
  app/src/Controller/AlertController.php
  app/src/Entity/Alert.php
  app/src/Repository/AlertRepository.php
  app/templates/home/_alerts.html.twig
  app/templates/home/index.html.twig
Due: app_build

wip test in ci
  .gitlab-ci.yml
  tests/test-from-host.sh
Due: none

wip test in ci
  .gitlab-ci.yml
Due: none

small fix
  .idea/dataSources.xml
  app/src/Controller/SearchController.php
  app/src/Repository/MsgsRepository.php
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
  app/translations/messages.fr.yml
Due: app_build

smtp: directly start postfix without supervisord
  docker-compose.yml
  smtp/Dockerfile
  smtp/conf/in/postfix/main.cf
  smtp/conf/in/postfix/master.cf
  smtp/conf/in/supervisor/supervisord.conf
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/master.cf
  smtp/conf/out/supervisor/supervisord.conf
  smtp/conf/relay/postfix/main.cf
  smtp/conf/relay/postfix/master.cf
  smtp/conf/relay/supervisor/supervisord.conf
Due: smtp_build

wip: tests from host for CI
  .env.example
  .gitlab-ci.yml
  app/Dockerfile
  app/docker/entrypoint.sh
  compose.test.yml
  tests/test-from-host.sh
Due: app_build

wip tests in ci
  .gitlab-ci.yml
  compose.test.yml
  tests/test-from-host.sh
Due: none

wip test in ci
  app/docker/tests/testmail.sh
  compose.ci.yml
  compose.test.yml
Due: app_build

wip test in ci
  .env.example
  .gitlab-ci.yml
  compose.test.yml
Due: none

patched policyd-rate-limit
  app/config/packages/doctrine.yaml
  policyd-rate-limit/Dockerfile
  policyd-rate-limit/entrypoint.sh
  policyd-rate-limit/policyd-rate-limit.yaml
Due: app_build

Update README.md
  README.md
Due: none

Added order on columns
  .idea/dataSources.xml
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/src/Repository/MsgsRepository.php
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
Due: app_build

alerts créées, impossible de flag out_msg
  app/composer.json
  app/composer.lock
  app/config/packages/messenger.yaml
  app/config/services.yaml
  app/docker/conf/supervisor/supervisord.conf
  app/docker/entrypoint.sh
  app/docker/tests/testmail.sh
  app/migrations/Version20240911160050.php
  app/migrations/Version20240912150332.php
  app/migrations/Version20241007100225.php
  app/migrations/Version20241008115722.php
  app/phpunit.xml.dist
  app/src/Command/CheckOutMsgsCommand.php
  app/src/Controller/AlertController.php
  app/src/Controller/DefaultController.php
  app/src/Controller/OutMsgController.php
  app/src/Entity/Alert.php
  app/src/Entity/OutMsg.php
  app/src/Message/CreateAlertMessage.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
  app/src/Repository/OutMsgRepository.php
  app/symfony.lock
  app/templates/home/_alerts.html.twig
  app/templates/home/index.html.twig
  app/translations/messages.en.yml
Due: app_build

front alertes dans dashboard ok, reste à récupérer les quota
  app/src/MessageHandler/CreateAlertMessageHandler.php
  app/templates/home/_alerts.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

paging done
  app/assets/styles/css/agentj.css
  app/src/Controller/SearchController.php
  app/templates/search/advanced_search.html.twig
Due: app_build

Set app secrets in global .env
  .env.example
  README.md
  app/.env.example
  app/docker/entrypoint.sh
Due: app_build

app: conserver les logs dans un volume
  docker-compose.yml
Due: none

Small fixes done
  .idea/php.xml
  app/src/Controller/SearchController.php
  app/src/Form/SearchFilterType.php
  app/templates/header.html.twig
  app/templates/search/_messages.html.twig
  app/templates/search/advanced_search.html.twig
Due: app_build

V1 ready, tjrs probleme de flag des out_msgs
  app/docker/conf/supervisor/supervisord.conf
  app/docker/tests/testmail.sh
  app/migrations/Version20241007100225.php
  app/migrations/Version20241009093048.php
  app/src/Command/CreateAlertForAdminCommand.php
  app/src/Command/CreateAlertForUserCommand.php
  app/src/Controller/OutMsgController.php
  app/src/DataFixtures/DomainFixture.php
  app/src/Entity/OutMsg.php
  app/src/Entity/SqlLimitReport.php
  app/src/Message/CreateAlertMessage.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
  app/src/Repository/OutMsgRepository.php
  docker-compose.yml
  policyd-rate-limit/Dockerfile
Due: app_build

changed back dockers to use online policyd again
  app/docker/tests/testmail.sh
  docker-compose.yml
  policyd-rate-limit/Dockerfile
Due: app_build

pret pour test pour fix OutMsgs
  app/docker/tests/testmail.sh
  app/src/MessageHandler/CreateAlertMessageHandler.php
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*
