Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*

Change php8 package name to php81
  app/Dockerfile
  app/docker/conf/cron/agentj
  app/docker/conf/supervisor/supervisord.conf
  app/docker/entrypoint.sh
Due: app_build

Replace docker-compose by docker compose in .gitlab_ci.yml
  .gitlab-ci.yml
Due: none

Change tag from dev to main in mass_build stage
  .gitlab-ci.yml
Due: none

Fix title when editing a domain
  app/templates/domain/edit.html.twig
Due: app_build

smtp: fix postfix dir ownership after postfix UID and GID change in debian 12
  smtp/Dockerfile
  smtp/entrypoint.sh
Due: smtp_build

Fix : don't copy user uid from microsoft when creating alias
  app/src/Command/Office365ImportCommand.php
Due: app_build

Show message when Azure oAuth failed
  app/src/Security/OAuthAuthenticator.php
  app/templates/security/login.html.twig
Due: app_build

ajout pour gestion du relayhost dans le smtp relay
  relay/conf/postfix/main.cf
  relay/entrypoint.sh
Due: relay_build

prepare version 1.6.3
  .env.example
  app/docker/files/.env
Due: app_build

Add Office365PrincipalName to User entity
  app/migrations/Version20231207083955.php
  app/src/Entity/User.php
Due: app_build

Rename Office365PrincipalName to office365PrincipalName
  app/src/Entity/User.php
Due: app_build

Add method to search user by office principalName
  app/src/Repository/UserRepository.php
Due: app_build

Import userPrincipalName from office365
  app/src/Command/Office365ImportCommand.php
Due: app_build

Search user with userPrincipalName when oAuth on Azur
  app/src/Security/OAuthAuthenticator.php
Due: app_build

Update translations
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

Show Office365 principal name on user edit if exist
  app/templates/user/_form.html.twig
Due: app_build

Remove installation of Webpack encore inside Dockerfile
  app/Dockerfile
Due: app_build

fix alpine to version 3.18.5
  app/Dockerfile
Due: app_build

Change php command to php81 in entrypoint
  app/docker/entrypoint.sh
Due: app_build

Prepare version 1.6.4
  .env.example
  app/docker/files/.env
Due: app_build

Fixes mineurs
  .env.example
  amavis/conf/amavis/amavisd.conf
  amavis/entrypoint.sh
  docker-compose.yml
  smtp/conf/out/postfix/main.cf
  smtp/conf/relay/postfix/main.cf
  smtp/entrypoint.sh
Due: amavis_build, smtp_build

Use $RELAYHOST in relay smtp
  smtp/entrypoint.sh
Due: smtp_build

postfix: fix healthcheck output
  relay/Dockerfile
  smtp/Dockerfile
Due: relay_build, smtp_build

relay: use debian slim base
  relay/Dockerfile
Due: relay_build

relay: adapt packages name to debian
  relay/Dockerfile
Due: relay_build
