Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, relay_build, smtp_build, syslogng_build, web_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  relay_build: any of: relay/*, relay/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
  web_build: any of: web/*, web/**/*

clamav: reduce opened files during scanning
  amavis/conf/clamav/clamd.conf
Due: amavis_build

fixes #24 #111 update report template for iphone support, change sender list labels
  app/src/Controller/WblistController.php
  app/templates/domain/_formMessage.html.twig
  app/templates/report/table_mail_msgs.html.twig
  app/templates/wb_list/index.html.twig
  app/translations/messages.fr.yml
Due: app_build

fixes #24 #111 update report template for iphone support, change sender list labels
  .env
  app/src/Controller/WblistController.php
  app/templates/domain/_formMessage.html.twig
  app/templates/report/table_mail_msgs.html.twig
  app/templates/wb_list/index.html.twig
  app/translations/messages.fr.yml
Due: app_build

fixes 23 - rememberme feature
  app/config/packages/security.yaml
  app/src/Security/LoginFormAuthenticator.php
  app/templates/base.html.twig
  app/templates/base_security.html.twig
  app/templates/security/login.html.twig
  app/translations/messages.fr.yml
Due: app_build

fixes #33 sort domain by name in dropdown when creating/editing group
  app/src/Form/GroupsType.php
Due: app_build

update user form for local admin
  app/src/Controller/UserController.php
  app/src/Controller/WblistController.php
  app/src/Repository/MsgsRepository.php
  app/src/Repository/WblistRepository.php
  app/templates/wb_list/index.html.twig
Due: app_build

fixes #27 add source code link
  app/templates/_footer.html.twig
  app/templates/base.html.twig
  app/templates/base_security.html.twig
Due: app_build

fixes #91 batch restore banned messages
  app/src/Controller/MessageController.php
Due: app_build

Fixes #131 groups field translation in userType
  app/src/Form/UserType.php
Due: app_build

fixes #118 #83 #11
  app/public/img/agent-j-logo-desktop.svg
  app/templates/message/captcha.html.twig
  app/templates/report/table_mail_msgs.html.twig
Due: app_build

fixes #118 #83 #11
  .env
  app/public/img/agent-j-logo-desktop.svg
  app/templates/message/captcha.html.twig
  app/templates/report/table_mail_msgs.html.twig
Due: app_build

fixes #135 refs #8
  app/config/packages/twig_extensions.yaml
  app/config/services.yaml
  app/docker/files/.env
  app/src/Controller/DefaultController.php
  app/src/Controller/DomainController.php
  app/src/Entity/Domain.php
  app/src/Entity/User.php
  app/src/Form/DomainType.php
  app/src/Security/LoginFormAuthenticator.php
  app/templates/domain/_form.html.twig
  app/templates/header.html.twig
  app/templates/message/index.html.twig
  app/translations/messages.en.yml
Due: app_build

added migration files
  app/migrations/Version20220315154619.php
  app/migrations/Version20220315160423.php
Due: app_build

app: add intl php7 ext
  app/Dockerfile
Due: app_build

logs: improve logspout filter - add compose project name
  docker-compose.yml
Due: none

logs: improve logspout filter - add compose project name
  .env
  docker-compose.yml
Due: none

readme: add COMPOSE_PROJECT_NAME var
  README.md
Due: none

amavis: use IPV4_NETWORK var in config file
  amavis/conf/amavis/amavisd.conf
  amavis/entrypoint.sh
Due: amavis_build

var must use low char
  .env
Due: none

fixes #96
  app/migrations/Version20220316163151.php
  app/src/Controller/DomainController.php
  app/src/Entity/Domain.php
  app/src/Form/DomainType.php
  app/src/Repository/WblistRepository.php
  app/templates/domain/_form.html.twig
  app/templates/domain/index.html.twig
  app/templates/domain/show.html.twig
  app/templates/groups/index.html.twig
  app/templates/home/_stats.html.twig
  app/templates/message/index.html.twig
  app/templates/message/show.html.twig
  app/templates/wb_list/index.html.twig
  app/translations/messages.fr.yml
Due: app_build

Atumatic english translation added. Used https://libretranslate.com/
  app/src/Command/TranslateAppCommand.php
  app/templates/_footer.html.twig
  app/translations/messages.en.yml
Due: app_build

Update .env: utilisation de la version 1.3.0RC1 pour fusion dans master.
  app/docker/files/.env
Due: app_build

Release 1.3.0
  app/docker/files/.env
Due: app_build

launch /usr/local/bin/gendomainkey.sh from domain controller
  app/src/Controller/DomainController.php
Due: app_build
