Repository Probesys/agentj: changes, and which GitLab CI jobs are due for each by the changed paths.
All: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build, syslogng_build

app_build:
  stage: build
  cache:
    key: ${CI_COMMIT_REF_SLUG}
  variables:
    IMG: app
  script:
  - sed -i "s|agentj_version|$TAG|g" $CI_PROJECT_DIR/$IMG/.env.example
  - cd $CI_PROJECT_DIR/$IMG && docker build --target base --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:base .
  ...

amavis_build:
  stage: build
  variables:
    IMG: amavis
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp_build:
  stage: build
  variables:
    IMG: smtp
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

opendkim_build:
  stage: build
  variables:
    IMG: opendkim
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

policyd-rate-limit_build:
  stage: build
  variables:
    IMG: policyd-rate-limit
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

syslogng_build:
  stage: build
  variables:
    IMG: syslogng
  script:
  - cd $CI_PROJECT_DIR/$IMG && docker build --cache-from $REGISTRY/agentj_$IMG:$TAG --build-arg BUILDKIT_INLINE_CACHE=1 -t $REGISTRY/agentj_$IMG:$TAG .
  - docker push $REGISTRY/agentj_$IMG:$TAG

smtp: ease external relays integration
  .env.example
  smtp/entrypoint.sh
Due: smtp_build

tec: Update the dependencies (#195)
  app/composer.lock
  app/yarn.lock
Due: app_build

release: Publish version 2.1.2
  CHANGELOG.md
Due: none

release: Publish version 2.1.2
  .env.example
  CHANGELOG.md
Due: none

feat: Send only one validation mail for multiple receivers from same domain
  app/.env.example
  app/config/packages/doctrine.yaml
  app/config/packages/mailer.yaml
  app/docker/conf/cron/agentj
  app/migrations/Version20250424140106.php
  app/phpstan-baseline.neon
  app/src/Amavis/ContentType.php
  app/src/Amavis/DeliveryStatus.php
  app/src/Command/MsgsSendMailTokenCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/Controller/DefaultController.php
  app/src/Doctrine/Extensions/DateDiff.php
  app/src/Entity/Maddr.php
  app/src/Entity/Msgrcpt.php
  app/src/Entity/Msgs.php
  app/src/Repository/DomainRepository.php
  app/src/Repository/MsgsRepository.php
  app/src/Service/MessageService.php
  app/templates/message/show.html.twig
  tests/tests.sh
Due: app_build

chore: Rework Postfix configurations
  .env.example
  amavis/Dockerfile
  app/.env.example
  app/Dockerfile
  app/config/packages/mailer.yaml
  app/config/services.yaml
  app/src/Command/ReportSendMailCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/DataFixtures/UserFixture.php
  app/src/MessageHandler/CreateAlertMessageHandler.php
  compose.dev.yml
  docker-compose.yml
  docs/readme.md
  opendkim/opendkim.conf
  policyd-rate-limit/policyd-rate-limit.yaml
  scripts/100mailsbyuser.sh
  scripts/50spams50virusbyusers.sh
  scripts/XspamsXvirusbyusers.sh
  scripts/_smtptest_ip.sh
  scripts/mail_to_agentj.sh
  scripts/mail_via_agentj.sh
  senderverifmilter/handler.py
  smtp/Dockerfile
  smtp/common/mysql-transport_map.cf
  smtp/common/slow_dest_domains_transport
  smtp/conf/in/postfix/main.cf
  smtp/conf/in/postfix/master.cf
  smtp/conf/out/postfix/main.cf
  smtp/conf/out/postfix/mysql-transport_map.cf
  smtp/conf/relay/postfix/main.cf
  smtp/conf/relay/postfix/slow_dest_domains_transport
  smtp/entrypoint.sh
  smtp/in/main.cf
  smtp/in/master.cf
  smtp/in/mysql-virtual_domains.cf
  smtp/in/mysql-virtual_recipient_maps.cf
  smtp/in/policyd-spf.conf
  smtp/out/main.cf
  smtp/out/master.cf
  tests/tests.sh
Due: app_build, amavis_build, smtp_build, opendkim_build, policyd-rate-limit_build

Update app/src/Command/ReportSendMailCommand.php
  app/src/Command/ReportSendMailCommand.php
Due: app_build

Update app/src/Controller/DefaultController.php
  app/src/Controller/DefaultController.php
Due: app_build

Update app/templates/home/_latest_messages.html.twig
  app/templates/home/_latest_messages.html.twig
Due: app_build

Update app/src/Controller/MessageController.php
  app/src/Controller/MessageController.php
Due: app_build

Update app/src/Entity/User.php
  app/src/Entity/User.php
Due: app_build

Update app/src/Repository/MsgrcptSearchRepository.php
  app/src/Repository/MsgrcptSearchRepository.php
Due: app_build

misc: Rename $qb variable to $queryBuilder
  app/src/Repository/MsgrcptSearchRepository.php
Due: app_build

doc: Update the main documentation file
  README.md
  docs/README.md
  docs/readme.md
Due: none

chore: Provide scripts to work in containers more easily
  docs/README.md
  scripts/composer
  scripts/console
  scripts/mariadb
  scripts/php
  scripts/yarn
Due: none

chore: Provide a Makefile with useful Docker shortcuts
  Makefile
  docs/README.md
Due: none

Update app/templates/message/index.html.twig
  app/templates/message/index.html.twig
Due: app_build

chore: Provide a command to run the linters
  .github/workflows/tests.yml
  Makefile
  docs/README.md
Due: none

chore: Provide a command to release a version
  Makefile
  docs/README.md
  docs/release.md
Due: none

dev: Remove MessageStatus Entity
  app/migrations/Version20250513145658.php
  app/migrations/Version20250620143311.php
  app/src/Amavis/MessageStatus.php
  app/src/Command/ReportSendMailCommand.php
  app/src/Command/SaveStatCommand.php
  app/src/Command/SendAuthMailRequestCommand.php
  app/src/Controller/DefaultController.php
  app/src/Controller/MenuController.php
  app/src/Controller/MessageController.php
  app/src/Entity/MessageStatus.php
  app/src/Entity/Msgrcpt.php
  app/src/Entity/Msgs.php
  app/src/Repository/MessageStatusRepository.php
  app/src/Repository/MsgrcptRepository.php
  app/src/Repository/MsgrcptSearchRepository.php
  app/src/Repository/MsgsRepository.php
  app/src/Service/MessageService.php
  app/templates/home/_latest_messages.html.twig
  app/templates/message/index.html.twig
  app/templates/message/out_show.html.twig
  app/templates/message/show.html.twig
Due: app_build

feat: Allow to import authorized domains
  app/src/Controller/WblistController.php
  app/templates/import/index_wblist.html.twig
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

fix: Fix the type of Wblist on file importation
  app/src/Controller/DefaultController.php
  app/src/Controller/MessageController.php
  app/src/Controller/Portal/MessagesController.php
  app/src/Controller/WblistController.php
  app/src/Entity/Wblist.php
  app/src/Model/ValidationSource.php
  app/src/Service/MessageService.php
  app/translations/messages.en.yml
  app/translations/messages.fr.yml
Due: app_build

Path conditions:
  app_build: any of: app/*, app/**/*
  amavis_build: any of: amavis/*, amavis/**/*
  smtp_build: any of: smtp/*, smtp/**/*
  opendkim_build: any of: opendkim/*
  policyd-rate-limit_build: any of: policyd-rate-limit/*
  syslogng_build: any of: syslogng/*, syslogng/**/*
